﻿@model TemplateUserEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();

    var gridModel = new AccountUserGridModel();
    gridModel.Name += Model.Name;

    //gridModel.MenuModel.UseReadOnlyToolbar();
    gridModel.MenuModel.BeginAddItem();

    gridModel.MenuModel.AddCustomItem(
        gridModel.MenuModel.Settings.Items,
        "mniReload",
        Translator.Reload,
        "~/Content/Icon/Reload/24.png",
        "~/Content/Icon/Reload/D24.png",
        Translator.Reload,
        true, @"
    var cmb = cmbMasterId" + Model.Name + @"
    cmb.ValueChanged.FireEvent(cmb, null);");

    gridModel.MenuModel.AddRefreshItem();
    gridModel.MenuModel.AddColumnItem();
    gridModel.MenuModel.AddExportItem();
    gridModel.MenuModel.EndAddItem();

    gridModel.Settings.DataBound = (s, e) =>
    {
        var grv = (MVCxGridView)s;

        if (Model.MasterId.HasValue)
        {
            grv.Selection.BeginSelection();

            foreach (int id in Model.Ids)
            {
                grv.Selection.SelectRowByKey(id);
            }

            grv.Selection.EndSelection();
        }
        else
        {
            grv.Enabled = false;
            gridModel.MenuModel.Settings.Enabled = false;
        }
    };
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 0px">
                <div class="EditForm">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.MasterId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("MasterIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("TemplateMaster")
                                {
                                    ComboBoxName = "cmbMasterId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div id="divAccountUser@(Model.Name)" style="height: 100%">
                @Html.Action("GridInit", "AccountUser", gridModel)
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {
            MasterId: cmbMasterId" + Model.Name + @".GetValue(),
            Ids: s.cpIds,
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        var ids = null;

        function Post() {
            EditFormAjaxPost({
                Url: '/" + controllerName + @"/Edit',
                RestoreUrl: null,
                Data: JSON.stringify(s.cpData()),
                Id: null,
                SuccessMethod: function(jsonResult) {
                    s.cpSuccessMethod(jsonResult);
                }
            });
        }

        grvAccountUser" + Model.Name + @".GetSelectedFieldValues('Id', function (selection) {
            s.cpIds = selection;
            Post();
        });

    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
