﻿@model AddressCityEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.DevExpress().PageControl(pgcs =>
{
    pgcs.Name = "pgcDetail" + Model.Name;
    pgcs.CallbackRouteValues = new { Controller = controllerName, Action = "DetailPartial", Name = Model.Name, IsNewRecord = Model.IsNewRecord, SuccessMethod = Model.SuccessMethod, CancelMethod = Model.CancelMethod, Id = Model.Id, Width = Model.Width, Height = Model.Height, MasterController = Model.MasterController };

    pgcs.Width = Unit.Percentage(100);
    pgcs.Height = Unit.Percentage(100);
    pgcs.TabPosition = TabPosition.Top;

    pgcs.Styles.Content.Paddings.CopyFrom(new Paddings(5, 5, 5, 5));

    pgcs.SaveStateToCookies = true;
    pgcs.SaveStateToCookiesID = pgcs.Name;

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabEdit";
        tab.Text = Translator.Edit;

        tab.SetContent(() =>
        {
            Html.RenderAction(Model.IsNewRecord ? "InsertPartial" : "UpdatePartial", controllerName, Model);
        });
    });

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabAddressDistrict";
        tab.Text = Translator.AddressDistrict;

        tab.SetContent(() =>
        {
            var gridModel = new AddressDistrictGridModel
            {
                Name = tab.Name.Substring(3) + Model.Name,
                Data = () => IoC.Resolve<IAddressDistrictService>().GetEx(p => !p.IsDeleted && p.CityId == Model.Id),
                MasterController = Model.MasterController
            };

            gridModel.Settings.Columns["bndCountry"].Visible = false;
            gridModel.Settings.Columns["bndCity"].Visible = false;

            ViewContext.Writer.Write(@"<div id=""div" + tab.Name.Substring(3) + Model.Name + @""" style=""width: 100%; height: 100%"">");
            Html.RenderAction("GridInit", tab.Name.Substring(3), gridModel);
            ViewContext.Writer.Write(@"</div>");
        });
    });
    
    pgcs.ClientSideEvents.Init = @"function(s, e) {
    s.cpResizeMethod = function(name) {
        if (name == 'tabEdit') {
            s.cpResize = { Sources: ['memCityDescription" + Model.Name + @"'], Destinations: ['divCityDescription" + Model.Name + @"'], Width: " + Model.Width.ToString() + ", Height: " + Model.Height.ToString() + @" };
        }
    };

    s.cpResizeMethod(s.GetActiveTab().name);" + (Model.MasterController != null ? @"
    s.ActiveTabChanged.FireEvent(s, null);" : "") + @"
}";

    pgcs.ClientSideEvents.ActiveTabChanging = @"function(s, e) {
    s.cpResizeMethod(e.tab.name);
}";

    pgcs.ClientSideEvents.ActiveTabChanged = @"function(s, e) {
    var name = s.GetActiveTab().name;

    if (name == 'tabEdit') {
        $('#divEditTable" + Model.Name + @"').width(s.cpResize.Width - 1).height(s.cpResize.Height + 1);
        dxSetSize(s, 0, 0);
        pgcResize(s, true);
    } else {
        $('#div' + name.substr(3) + '" + Model.Name + @"').width(s.cpResize.Width).height(s.cpResize.Height);
        dxSetSize(s, 0, 0);
        pgcResize(s, true);
    }
}";

}).GetHtml()
