﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    var service = IoC.Resolve<IAddressService>();

    var cmbe = Html.DevExpress().ComboBoxFor(m => m.ComboBoxAddressId, cmbs =>
    {
        cmbs.CallbackRouteValues = new { Controller = controllerName, Action = cmbs.Name + "Partial", Name = Model.Name };
        cmbs.Name = "cmb" + cmbs.Name + Model.Name;
        cmbs.Width = Unit.Percentage(100);
        cmbs.ShowModelErrors = true;
        cmbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

        cmbs.Properties.DropDownStyle = DropDownStyle.DropDown;
        cmbs.Properties.CallbackPageSize = 15;
        cmbs.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

        cmbs.Properties.ValueField = "Id";
        cmbs.Properties.ValueType = typeof(int);
        cmbs.Properties.TextField = "FullAddress";

        if (Model.ComboBoxDistrictId.HasValue)
        {
            cmbs.Properties.ClientSideEvents.BeginCallback = @"function(s, e) {
    e.customArgs['ComboBoxDistrictId'] = " + Model.ComboBoxDistrictId.ToString() + @";
}";
        }

        cmbs.Properties.ClientSideEvents.EndCallback = @"function(s, e) {
    if (s.cpEndCallback == 'SetLatitudeLongitudeNull') {
        s.SetLatitudeLongitudeNull = null;

        speComboBoxLatitude" + Model.Name + @".SetValue(null);
        speComboBoxLongitude" + Model.Name + @".SetValue(null);
    }
}";  
                
        cmbs.Properties.ClientSideEvents.ValueChanged = @"function(s, e) {
    var addressId = s.GetValue();
    if (addressId == null) {
        speComboBoxLatitude" + Model.Name + @".SetValue(null);
        speComboBoxLongitude" + Model.Name + @".SetValue(null);
    } else {
        $.ajax({
            url: '/" + controllerName + @"/GetAddress',
            type: 'post',
            data: JSON.stringify({ id: addressId }),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (jsonResult) {
                if (jsonResult.Result != null) {
                    speComboBoxLatitude" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
                    speComboBoxLongitude" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
                } else if (jsonResult.ErrorMessage != null){
                    ShowError({
                        Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />").Js() + @"' + jsonResult.ErrorMessage
                    });
                } else {
                    ShowForbidden({
                        Message: '" + Translator.YouAreNotAuthorizedToProcess.Js() + @"'
                    });
                }
            },
            error: function (xhr) {
                ShowError({
                    HeaderText: '" + Translator.UnexpectedError.Js() + @"',
                    Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />").Js() + @"' + xhr.statusText
                });
            }
        });
    }
}";
    }).BindList((args) =>
    {
        int skip = args.BeginIndex;
        int take = args.EndIndex - args.BeginIndex + 1;

        return service
            .Get(p => !p.IsDeleted && p.DistrictId == Model.ComboBoxDistrictId && p.FullAddress.Contains(args.Filter))
            .OrderBy(p => p.Id)
            .Skip(skip)
            .Take(take)
            .ToList();
    }, (args) =>
    {
        int id;
        if (args.Value == null || !int.TryParse(args.Value.ToString(), out id))
            return null;
        return service
            .Get(p => !p.IsDeleted && p.Id == id)
            .Take(1)
            .ToList();
    });

    if (Model.ComboBoxAddressId.HasValue)
    {
        cmbe.BindList(service.Get(p => !p.IsDeleted && p.Id == Model.ComboBoxAddressId.Value).ToList());
    }

    cmbe.GetHtml();
}
