﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.DevExpress().PageControl(pgcs =>
{
    pgcs.Name = "pgcDetail" + Model.Name;
    pgcs.CallbackRouteValues = new { Controller = controllerName, Action = "DetailPartial", Name = Model.Name, IsNewRecord = Model.IsNewRecord, SuccessMethod = Model.SuccessMethod, CancelMethod = Model.CancelMethod, Id = Model.Id, Width = Model.Width, Height = Model.Height, MasterController = Model.MasterController };

    pgcs.Width = Unit.Percentage(100);
    pgcs.Height = Unit.Percentage(100);
    pgcs.TabPosition = TabPosition.Top;

    pgcs.Styles.Content.Paddings.CopyFrom(new Paddings(5, 5, 5, 5));

    pgcs.SaveStateToCookies = true;
    pgcs.SaveStateToCookiesID = pgcs.Name;

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabEdit";
        tab.Text = Translator.Edit;

        tab.SetContent(() =>
        {
            Html.RenderAction(Model.IsNewRecord ? "InsertPartial" : "UpdatePartial", controllerName, Model);
        });
    });

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabTemplateDetail1";
        tab.Text = Translator.TemplateDetail1;

        tab.SetContent(() =>
        {
            var gridModel = new TemplateDetail1GridModel
            {
                Name = tab.Name.Substring(3) + Model.Name,
                Data = () => IoC.Resolve<ITemplateDetail1Service>().GetEx(p => !p.IsDeleted && p.MasterId == Model.Id),
                MasterController = Model.MasterController
            };

            gridModel.Settings.Columns["bndMaster"].Visible = false;
            
            ViewContext.Writer.Write(@"<div id=""div" + tab.Name.Substring(3) + Model.Name + @""" style=""width: 100%; height: 100%"">");
            Html.RenderAction("GridInit", tab.Name.Substring(3), gridModel);
            ViewContext.Writer.Write(@"</div>");
        });
    });

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabTemplateDetail2";
        tab.Text = Translator.TemplateDetail2;

        tab.SetContent(() =>
        {
            var gridModel = new TemplateDetail2GridModel
            {
                Name = tab.Name.Substring(3) + Model.Name,
                Data = () => IoC.Resolve<ITemplateDetail2Service>().GetEx(p => !p.IsDeleted && p.MasterId == Model.Id),
                MasterController = Model.MasterController
            };

            gridModel.Settings.Columns["bndMaster"].Visible = false;
            
            ViewContext.Writer.Write(@"<div id=""div" + tab.Name.Substring(3) + Model.Name + @""" style=""width: 100%; height: 100%"">");
            Html.RenderAction("GridInit", tab.Name.Substring(3), gridModel);
            ViewContext.Writer.Write(@"</div>");
        });
    });

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabTemplatePerson";
        tab.Text = Translator.TemplatePerson;

        tab.SetContent(() =>
        {
            var gridModel = new TemplatePersonGridModel
            {
                Name = tab.Name.Substring(3) + Model.Name,
                Data = () => IoC.Resolve<ITemplatePersonService>().GetEx(p => !p.IsDeleted && p.MasterId == Model.Id),
                MasterController = Model.MasterController
            };

            gridModel.Settings.Columns["bndMaster"].Visible = false;

            ViewContext.Writer.Write(@"<div id=""div" + tab.Name.Substring(3) + Model.Name + @""" style=""width: 100%; height: 100%"">");
            Html.RenderAction("GridInit", tab.Name.Substring(3), gridModel);
            ViewContext.Writer.Write(@"</div>");
        });
    });

    pgcs.TabPages.Add(tab =>
    {
        tab.Name = "tabTemplateUser";
        tab.Text = Translator.TemplateUser;

        tab.SetContent(() =>
        {
            var gridModel = new TemplateUserGridModel
            {
                Name = tab.Name.Substring(3) + Model.Name,
                Data = () => IoC.Resolve<ITemplateUserService>().GetEx(p => !p.IsDeleted && p.MasterId == Model.Id),
                MasterController = Model.MasterController
            };

            gridModel.Settings.Columns["bndMaster"].Visible = false;

            ViewContext.Writer.Write(@"<div id=""div" + tab.Name.Substring(3) + Model.Name + @""" style=""width: 100%; height: 100%"">");
            Html.RenderAction("GridInit", tab.Name.Substring(3), gridModel);
            ViewContext.Writer.Write(@"</div>");
        });
    });

    pgcs.ClientSideEvents.Init = @"function(s, e) {
    s.cpResizeMethod = function(name) {
        if (name == 'tabEdit') {
            s.cpResize = { Sources: ['hteHtmlColumn" + Model.Name + "', 'memMultilineColumn" + Model.Name + @"'], Destinations: ['divHtmlColumn" + Model.Name + "', 'divMultilineColumn" + Model.Name + @"'], Width: " + Model.Width.ToString() + ", Height: " + Model.Height.ToString() + @" };
        } else if (name == 'tabTemplateDetail1') {
            s.cpResize = { Sources: ['grv' + name.substr(3) + '" + Model.Name + @"'], Destinations: ['div' + name.substr(3) + '" + Model.Name + @"'], Width: 800, Height: 400 };
        } else if (name == 'tabTemplateDetail2') {
            s.cpResize = { Sources: ['grv' + name.substr(3) + '" + Model.Name + @"'], Destinations: ['div' + name.substr(3) + '" + Model.Name + @"'], Width: 900, Height: 400 };
        } else {
            s.cpResize = { Sources: ['grv' + name.substr(3) + '" + Model.Name + @"'], Destinations: ['div' + name.substr(3) + '" + Model.Name + @"'], Width: 800, Height: 600 };
        }
    };

    s.cpResizeMethod(s.GetActiveTab().name);" + (Model.MasterController != null ? @"
    s.ActiveTabChanged.FireEvent(s, null);" : "") + @"
}";

    pgcs.ClientSideEvents.ActiveTabChanging = @"function(s, e) {
    s.cpResizeMethod(e.tab.name);
}";

    pgcs.ClientSideEvents.ActiveTabChanged = @"function(s, e) {
    var name = s.GetActiveTab().name;

    if (name == 'tabEdit') {
        $('#divEditTable" + Model.Name + @"').width(s.cpResize.Width - 1).height(s.cpResize.Height + 1);
        dxSetSize(s, 0, 0);
        pgcResize(s, true);
    } else {
        $('#div' + name.substr(3) + '" + Model.Name + @"').width(s.cpResize.Width).height(s.cpResize.Height);
        dxSetSize(s, 0, 0);
        pgcResize(s, true);
    }
}";

}).GetHtml()
