﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string stamp = null;
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 0px">
                <div class="DivSideBySide" style="width: 100%">
                    <div class="EditForm" style="width: 40%; padding-right: 10px">
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ComboBoxPersonId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("ComboBoxPersonIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountPerson")
                                    {
                                        ComboBoxName = "cmbComboBoxPersonId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ComboBoxCountryId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("ComboBoxCountryIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCountry")
                                    {
                                        ComboBoxName = "cmbComboBoxCountryId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ComboBoxCityId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("ComboBoxCityIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCity")
                                    {
                                        ComboBoxName = "cmbComboBoxCityId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ComboBoxDistrictId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("ComboBoxDistrictIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressDistrict")
                                    {
                                        ComboBoxName = "cmbComboBoxDistrictId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ComboBoxAddressId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("ComboBoxAddressIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("Address")
                                    {
                                        ComboBoxName = "cmbComboBoxAddressId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().Label(lbls =>
                                {
                                    lbls.Name = "lblComboBoxLatitudeLongitude" + Model.Name;
                                    lbls.Text = Translator.Latitude + "-" + Translator.Longitude;
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    <div class="DivSideBySide" style="width: 100%">
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.ComboBoxLatitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.ComboBoxLongitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                    </div>
                                </div>
                                <div style="vertical-align: middle">
                                    @Html.Action("MapMenuPartial", "EditForm", new MapMenuModel(IconSize.Png16)
                                    {
                                        SpinEditLatitudeName = "speComboBoxLatitude",
                                        SpinEditLongitudeName = "speComboBoxLongitude",
                                        ModelName = Model.Name,
                                        SuccessMethod = @"function(jsonResult) {
    cmbClearAddAndSetItem(cmbComboBoxCountryId" + Model.Name + @", [jsonResult.Result.CountryCode, jsonResult.Result.CountryName], jsonResult.Result.CountryId);
    cmbClearAddAndSetItem(cmbComboBoxCityId" + Model.Name + @", jsonResult.Result.CityName, jsonResult.Result.CityId);
    cmbClearAddAndSetItem(cmbComboBoxDistrictId" + Model.Name + @", jsonResult.Result.DistrictName, jsonResult.Result.DistrictId);
    cmbClearAddAndSetItem(cmbComboBoxAddressId" + Model.Name + @", jsonResult.Result.FullAddress, jsonResult.Result.Id);
    speComboBoxLatitude" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
    speComboBoxLongitude" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
}"
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.BitColumn1, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().RadioButtonListFor(m => m.BitColumn1, rbls =>
                                {
                                    rbls.Name = "rbl" + rbls.Name + Model.Name;
                                    rbls.ShowModelErrors = true;
                                    rbls.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                    rbls.Properties.ItemSpacing = 5;
                                    rbls.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    rbls.Properties.Items.Add(Translator.Yes, 1, "~/Content/Icon/Checked/16.png");
                                    rbls.Properties.Items.Add(Translator.No, 0, "~/Content/Icon/Unchecked/16.png");

                                    rbls.ControlStyle.Border.BorderWidth = 0;
                                    rbls.PreRender = (s, e) =>
                                    {
                                        MVCxRadioButtonList rbl = (MVCxRadioButtonList)s;
                                        rbl.Paddings.CopyFrom(new Paddings(11, 1, 5, 1));
                                    };
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.IntColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().SpinEditFor(m => m.IntColumn, spes =>
                                {
                                    spes.Name = "spe" + spes.Name + Model.Name;
                                    spes.Width = Unit.Percentage(100);
                                    spes.ShowModelErrors = true;
                                    spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    spes.Properties.NumberFormat = SpinEditNumberFormat.Number;
                                    spes.Properties.NumberType = SpinEditNumberType.Integer;
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.FloatColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().SpinEditFor(m => m.FloatColumn, spes =>
                                {
                                    spes.Name = "spe" + spes.Name + Model.Name;
                                    spes.Width = Unit.Percentage(100);
                                    spes.ShowModelErrors = true;
                                    spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    spes.Properties.NumberFormat = SpinEditNumberFormat.Number;
                                    spes.Properties.NumberType = SpinEditNumberType.Float;
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.DecimalColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().SpinEditFor(m => m.DecimalColumn, spes =>
                                {
                                    spes.Name = "spe" + spes.Name + Model.Name;
                                    spes.Width = Unit.Percentage(100);
                                    spes.ShowModelErrors = true;
                                    spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    spes.Properties.NumberFormat = SpinEditNumberFormat.Number;
                                    spes.Properties.NumberType = SpinEditNumberType.Float;
                                    spes.Properties.DecimalPlaces = 2;
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.MoneyColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().SpinEditFor(m => m.MoneyColumn, spes =>
                                {
                                    spes.Name = "spe" + spes.Name + Model.Name;
                                    spes.Width = Unit.Percentage(100);
                                    spes.ShowModelErrors = true;
                                    spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    spes.Properties.NumberFormat = SpinEditNumberFormat.Currency;
                                    spes.Properties.NumberType = SpinEditNumberType.Float;
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.PercentColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().SpinEditFor(m => m.PercentColumn, spes =>
                                {
                                    spes.Name = "spe" + spes.Name + Model.Name;
                                    spes.Width = Unit.Percentage(100);
                                    spes.ShowModelErrors = true;
                                    spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    spes.Properties.NumberFormat = SpinEditNumberFormat.Percent;
                                    spes.Properties.NumberType = SpinEditNumberType.Float;
                                    spes.Properties.DecimalPlaces = 2;
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.DateColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().DateEditFor(m => m.DateColumn, dtes =>
                                {
                                    dtes.Name = "dte" + dtes.Name + Model.Name;
                                    dtes.Width = Unit.Percentage(100);
                                    dtes.ShowModelErrors = true;
                                    dtes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    dtes.Properties.NullText = Translator.Day + "." + Translator.Month + "." + Translator.Year;
                                    dtes.Properties.UseMaskBehavior = true;
                                    dtes.Properties.EditFormat = EditFormat.Custom;
                                    dtes.Properties.EditFormatString = "dd.MM.yyyy";
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.DateTimeColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().DateEditFor(m => m.DateTimeColumn, dtes =>
                                {
                                    dtes.Name = "dte" + dtes.Name + Model.Name;
                                    dtes.Width = Unit.Percentage(100);
                                    dtes.ShowModelErrors = true;
                                    dtes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                    dtes.Properties.NullText = Translator.Day + "." + Translator.Month + "." + Translator.Year + " " + Translator.Hour + ":" + Translator.Minute;
                                    dtes.Properties.UseMaskBehavior = true;
                                    dtes.Properties.EditFormat = EditFormat.Custom;
                                    dtes.Properties.EditFormatString = "dd.MM.yyyy hh:mm";
                                    dtes.Properties.TimeSectionProperties.Visible = true;
                                    dtes.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
                                    dtes.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "hh:mm";
                                }).GetHtml()
                            </div>
                        </div>
                    </div>
                    <div class="EditForm" style="width: 60%; padding-left: 10px">
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.GridLookupPersonId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("GridLookupPersonIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AccountPerson")
                                    {
                                        GridLookupName = "gluGridLookupPersonId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.GridLookupCountryId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("GridLookupCountryIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AddressCountry")
                                    {
                                        GridLookupName = "gluGridLookupCountryId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.GridLookupCityId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("GridLookupCityIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AddressCity")
                                    {
                                        GridLookupName = "gluGridLookupCityId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.GridLookupDistrictId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("GridLookupDistrictIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AddressDistrict")
                                    {
                                        GridLookupName = "gluGridLookupDistrictId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.GridLookupAddressId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("GridLookupAddressIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("Address")
                                    {
                                        GridLookupName = "gluGridLookupAddressId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().Label(lbls =>
                                {
                                    lbls.Name = "lblGridLookupLatitudeLongitude" + Model.Name;
                                    lbls.Text = Translator.Latitude + "-" + Translator.Longitude;
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    <div class="DivSideBySide" style="width: 100%">
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.GridLookupLatitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.GridLookupLongitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                    </div>
                                </div>
                                <div style="vertical-align: middle">
                                    @Html.Action("MapMenuPartial", "EditForm", new MapMenuModel(IconSize.Png16)
                                    {
                                        SpinEditLatitudeName = "speGridLookupLatitude",
                                        SpinEditLongitudeName = "speGridLookupLongitude",
                                        ModelName = Model.Name,
                                        SuccessMethod = @"function(jsonResult) {
    cmbClearAddAndSetItem(cmbGridLookupCountryId" + Model.Name + @", [jsonResult.Result.CountryCode, jsonResult.Result.CountryName], jsonResult.Result.CountryId);
    cmbClearAddAndSetItem(cmbGridLookupCityId" + Model.Name + @", jsonResult.Result.CityName, jsonResult.Result.CityId);
    cmbClearAddAndSetItem(cmbGridLookupDistrictId" + Model.Name + @", jsonResult.Result.DistrictName, jsonResult.Result.DistrictId);
    cmbClearAddAndSetItem(cmbGridLookupAddressId" + Model.Name + @", jsonResult.Result.FullAddress, jsonResult.Result.Id);
    speGridLookupLatitude" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
    speGridLookupLongitude" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
}"
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.BitColumn2, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().CheckBoxFor(m => m.BitColumn2, chbs =>
                                {
                                    chbs.Name = "chb" + chbs.Name + Model.Name;
                                    chbs.ShowModelErrors = true;
                                    chbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.StringColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.StringColumn, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.PhoneNumberColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.PhoneNumberColumn, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.CreditCardNumberColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.CreditCardNumberColumn, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().Label(lbls =>
                                {
                                    lbls.Name = "lblLatitudeLongitude" + Model.Name;
                                    lbls.Text = Translator.Latitude + "-" + Translator.Longitude;
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    <div class="DivSideBySide" style="width: 100%">
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.LatitudeColumn, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                        <div>
                                            @Html.DevExpress().SpinEditFor(m => m.LongitudeColumn, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                        </div>
                                    </div>
                                </div>
                                <div style="vertical-align: middle">
                                    @Html.Action("MapMenuPartial", "EditForm", new MapMenuModel(IconSize.Png16)
                                    {
                                        SpinEditLatitudeName = "speLatitudeColumn",
                                        SpinEditLongitudeName = "speLongitudeColumn",
                                        ModelName = Model.Name,
                                        SuccessMethod = @"function(jsonResult) {
    speLatitudeColumn" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
    speLongitudeColumn" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
}"
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.FilePathColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @{ stamp = "FilePathColumn"; }
                                @Html.Action("SelectSingleFilePartial", "Popup", new SelectSingleFileModel
                                {
                                    Name = stamp + Model.Name,
                                    Width = Unit.Pixel(800),
                                    Height = Unit.Pixel(600),
                                    AllowedFileExtensions = new string[] { ".pdf", ".doc", ".docx", ".xls", ".xlsx", ".txt" },
                                    RootFolder = "~/Content/Upload/TemplateMaster/" + stamp,
                                    MaxUploadSize = 512000,
                                    OkScript = @"function(s, e) {
    var path = '/Content/Upload/TemplateMaster/" + stamp + "/' + fmn" + stamp + Model.Name + @".GetSelectedFile().name;
    bte" + stamp + Model.Name + @".SetValue(path);
    puc" + stamp + Model.Name + @".Hide();
}"
                                })
                                @Html.DevExpress().ButtonEditFor(m => m.FilePathColumn, btes =>
                                {
                                    btes.Name = "bte" + btes.Name + Model.Name;
                                    btes.Width = Unit.Percentage(100);
                                    btes.ReadOnly = true;
                                    btes.ShowModelErrors = true;
                                    btes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    btes.Properties.Buttons.Add("...");

                                    btes.Properties.ClientSideEvents.ButtonClick = @"function(s, e) {
    puc" + stamp + Model.Name + @".Show();
}";
                                    btes.Properties.ClientSideEvents.KeyDown = @"function(s ,e) {
    var keyCode = e.htmlEvent.keyCode;
    if (keyCode == 8 || keyCode == 46) {
        s.SetValue(null);
    }
}";
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ImagePathColumn, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @{ stamp = "ImagePathColumn"; }
                                @Html.Action("SelectSingleFilePartial", "Popup", new SelectSingleFileModel
                                {
                                    Name = stamp + Model.Name,
                                    Width = Unit.Pixel(800),
                                    Height = Unit.Pixel(600),
                                    AllowedFileExtensions = new string[] { ".jpg", ".png", ".bmp", ".gif" },
                                    RootFolder = "~/Content/Upload/TemplateMaster/" + stamp,
                                    MaxUploadSize = 512000,
                                    MinImageWidth = 64,
                                    MaxImageWidth = 256,
                                    MinImageHeight = 64,
                                    MaxImageHeight = 256,
                                    OkScript = @"function(s, e) {
    var path = '/Content/Upload/TemplateMaster/" + stamp + "/' + fmn" + stamp + Model.Name + @".GetSelectedFile().name;
    bte" + stamp + Model.Name + @".SetValue(path);
    puc" + stamp + Model.Name + @".Hide();
}"
                                })
                                @Html.DevExpress().ButtonEditFor(m => m.ImagePathColumn, btes =>
                                {
                                    btes.Name = "bte" + btes.Name + Model.Name;
                                    btes.Width = Unit.Percentage(100);
                                    btes.ReadOnly = true;
                                    btes.ShowModelErrors = true;
                                    btes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    btes.Properties.Buttons.Add("...");

                                    btes.Properties.ClientSideEvents.ButtonClick = @"function(s, e) {
    puc" + stamp + Model.Name + @".Show();
}";
                                    btes.Properties.ClientSideEvents.KeyDown = @"function(s ,e) {
    var keyCode = e.htmlEvent.keyCode;
    if (keyCode == 8 || keyCode == 46) {
        s.SetValue(null);
    }
}";
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.TemplatePersons, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("TemplatePersonsPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AccountPerson")
                                    {
                                        GridLookupName = "gluTemplatePersons",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.TemplateUsers, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("TemplateUsersPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("GridLookupMenuPartial", "EditForm", new GridLookupMenuModel("AccountUser")
                                    {
                                        GridLookupName = "gluTemplateUsers",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 0px">
                @Html.DevExpress().LabelFor(m => m.MultilineColumn, lbls =>
                {
                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                }).GetHtml()
            </div>
        </div>
        <div>
            <div id="divMultilineColumn@(Model.Name)" style="height: 20%">
                @Html.DevExpress().MemoFor(m => m.MultilineColumn, mems =>
                {
                    mems.Name = "mem" + mems.Name + Model.Name;
                    mems.Width = Unit.Percentage(100);
                    mems.Height = Unit.Percentage(100);
                    mems.ShowModelErrors = true;
                    mems.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                    mems.Style.Add("min-height", "60px");
                }).GetHtml()
            </div>
        </div>
        <div>
            <div style="height: 0px">
                @Html.DevExpress().LabelFor(m => m.HtmlColumn, lbls =>
                {
                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                }).GetHtml()
            </div>
        </div>
        <div>
            <div id="divHtmlColumn@(Model.Name)" style="height: 80%">
                @Html.Partial("HtmlColumnPartial", Model)
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            ComboBoxPersonId: cmbComboBoxPersonId" + Model.Name + @".GetValue(),
            GridLookupPersonId: gluGetValue(gluGridLookupPersonId" + Model.Name + @"),
            ComboBoxCountryId: cmbComboBoxCountryId" + Model.Name + @".GetValue(),
            ComboBoxCityId: cmbComboBoxCityId" + Model.Name + @".GetValue(),
            ComboBoxDistrictId: cmbComboBoxDistrictId" + Model.Name + @".GetValue(),
            ComboBoxAddressId: cmbComboBoxAddressId" + Model.Name + @".GetValue(),
            ComboBoxLatitude: speComboBoxLatitude" + Model.Name + @".GetValue(),
            ComboBoxLongitude: speComboBoxLongitude" + Model.Name + @".GetValue(),
            GridLookupCountryId: gluGetValue(gluGridLookupCountryId" + Model.Name + @"),
            GridLookupCityId: gluGetValue(gluGridLookupCityId" + Model.Name + @"),
            GridLookupDistrictId: gluGetValue(gluGridLookupDistrictId" + Model.Name + @"),
            GridLookupAddressId: gluGetValue(gluGridLookupAddressId" + Model.Name + @"),
            GridLookupLatitude: speGridLookupLatitude" + Model.Name + @".GetValue(),
            GridLookupLongitude: speGridLookupLongitude" + Model.Name + @".GetValue(),
            TemplatePersons: s.cpTemplatePersonIds,
            TemplateUsers: s.cpTemplateUserIds,
            BitColumn1: rblBitColumn1" + Model.Name + @".GetValue(),
            BitColumn2: chbBitColumn2" + Model.Name + @".GetValue(),
            IntColumn: speIntColumn" + Model.Name + @".GetValue(),
            FloatColumn: speFloatColumn" + Model.Name + @".GetValue(),
            DecimalColumn: speDecimalColumn" + Model.Name + @".GetValue(),
            MoneyColumn: speMoneyColumn" + Model.Name + @".GetValue(),
            PercentColumn: spePercentColumn" + Model.Name + @".GetValue(),
            DateColumn: dteDateColumn" + Model.Name + @".GetValue(),
            DateTimeColumn: dteDateTimeColumn" + Model.Name + @".GetValue(),
            StringColumn: txbStringColumn" + Model.Name + @".GetValue(),
            MultilineColumn: memMultilineColumn" + Model.Name + @".GetValue(),
            HtmlColumn: hteHtmlColumn" + Model.Name + @".GetHtml(),
            PhoneNumberColumn: txbPhoneNumberColumn" + Model.Name + @".GetValue(),
            CreditCardNumberColumn: txbCreditCardNumberColumn" + Model.Name + @".GetValue(),
            LatitudeColumn: speLatitudeColumn" + Model.Name + @".GetValue(),
            LongitudeColumn: speLongitudeColumn" + Model.Name + @".GetValue(),
            FilePathColumn: bteFilePathColumn" + Model.Name + @".GetValue(),
            ImagePathColumn: bteImagePathColumn" + Model.Name + @".GetValue()
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        function Post() {
            EditFormAjaxPost({
                Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
                RestoreUrl: '/" + controllerName + @"/Restore',
                Data: JSON.stringify(s.cpData()),
                Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
                SuccessMethod: function(jsonResult) {
                    s.cpSuccessMethod(jsonResult);
                }
            });
        }

        gluTemplatePersons" + Model.Name + @".GetGridView().GetSelectedFieldValues('Id', function (selection) {
            s.cpTemplatePersonIds = selection;
            if (s.cpTemplateUserIds) {
                Post();
            }
        });

        gluTemplateUsers" + Model.Name + @".GetGridView().GetSelectedFieldValues('Id', function (selection) {
            s.cpTemplateUserIds = selection;
            if (s.cpTemplatePersonIds) {
                Post();
            }
        });

    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
