﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string propertyName = "GridLookupDistrictId";
    var service = IoC.Resolve<IAddressDistrictService>();

    var glue = Html.DevExpress().GridLookup(glus =>
    {
        glus.Name = "glu" + propertyName + Model.Name;
        glus.Width = Unit.Percentage(100);
        glus.KeyFieldName = "Id";
        glus.CommandColumn.Visible = true;
        glus.CommandColumn.ShowSelectCheckbox = true;
        glus.ShowModelErrors = true;
        glus.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

        glus.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Single;
        glus.Properties.TextFormatString = "{1}";
        glus.Properties.MultiTextSeparator = " | ";

        glus.GridViewProperties.CallbackRouteValues = new { Controller = controllerName, Action = propertyName + "Partial", Name = Model.Name };
        glus.GridViewProperties.Settings.ShowFilterRow = true;
        glus.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        glus.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Width = Unit.Pixel(50);
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "DistrictName";
            column.Caption = Translator.DistrictName;
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "DistrictDescription";
            column.Caption = Translator.Description;
        });

        glus.GridViewProperties.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btns =>
            {
                btns.Name = "btnClose" + propertyName + Model.Name;
                btns.UseSubmitBehavior = false;
                btns.Text = Translator.Close;
                btns.ClientSideEvents.Click = @"function(s, e) {
    glu = glu" + propertyName + Model.Name + @";
    glu.ConfirmCurrentSelection();
    glu.HideDropDown();
}";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        glus.DataBound = (s, e) =>
        {
            var glu = (MVCxGridLookup)s;
            glu.GridView.Width = 400;
        };

        glus.GridViewClientSideEvents.BeginCallback = @"function(s, e) {
    var glu = gluGridLookupCityId" + Model.Name + @";
    e.customArgs['GridLookupCityId'] = gluGetValue(glu);
}";

        glus.GridViewClientSideEvents.EndCallback = @"function(s, e) {
    if (s.cpEndCallback == 'SetAddressNull') {
        s.cpEndCallback = null;

        var glu = gluGridLookupAddressId" + Model.Name + @";
        glu.GetGridView().cpEndCallback = 'SetLatitudeLongitudeNull';
        glu.SetValue(null);
    }
}";        
        
        glus.Properties.ClientSideEvents.ValueChanged = @"function(s, e) {
    var glu = gluGridLookupAddressId" + Model.Name + @";

    glu.SetValue(null);
}";        
    });

    glue.BindToLINQ(string.Empty, string.Empty, (s, e) =>
    {
        e.KeyExpression = "Id";
        e.QueryableSource = service.Get(p => !p.IsDeleted && p.CityId == Model.GridLookupCityId);
    });

    glue.Bind(Model.GridLookupDistrictId).GetHtml();
}