﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string propertyName = "GridLookupPersonId";
    var service = IoC.Resolve<IAccountPersonService>();

    var glue = Html.DevExpress().GridLookup(glus =>
    {
        glus.Name = "glu" + propertyName + Model.Name;
        glus.Width = Unit.Percentage(100);
        glus.KeyFieldName = "Id";
        glus.CommandColumn.Visible = true;
        glus.CommandColumn.ShowSelectCheckbox = true;
        glus.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
        
        glus.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Single;
        glus.Properties.TextFormatString = "{2} {3}";
        glus.Properties.MultiTextSeparator = " | ";
        
        glus.GridViewProperties.CallbackRouteValues = new { Controller = controllerName, Action = propertyName + "Partial", Name = Model.Name };
        glus.GridViewProperties.Settings.ShowFilterRow = true;
        glus.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        glus.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Width = Unit.Pixel(50);
        });
        
        glus.Columns.Add(column =>
        {
            column.FieldName = "VillageName";
            column.Caption = Translator.SystemVillage;
        });
        
        glus.Columns.Add(column =>
        {
            column.FieldName = "FirstName";
            column.Caption = Translator.FirstName;
        });
        
        glus.Columns.Add(column =>
        {
            column.FieldName = "LastName";
            column.Caption = Translator.LastName;
        });
        
        glus.Columns.AddBand(band =>
        {
            band.Caption = Translator.Profile;
            band.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;

            band.Columns.Add(column =>
            {
                column.Caption = Translator.PictureName;
                column.SetDataItemTemplateContent(content =>
                {
                    var picturePath = (string)DataBinder.Eval(content.DataItem, "PicturePath");
                    if (picturePath != null)
                    {
                        ViewContext.Writer.Write(@"<a href=""" + picturePath + @""" download>" + Path.GetFileName(picturePath) + @"</a>");
                    }
                });
            });
            band.Columns.Add(column =>
            {
                column.Caption = Translator.Picture;
                column.SetDataItemTemplateContent(content =>
                {
                    var picturePath = (string)DataBinder.Eval(content.DataItem, "PicturePath");
                    if (picturePath != null)
                    {
                        ViewContext.Writer.Write(@"<img src=""" + picturePath + @""" alt="""" style=""width: 100%"" />");
                    }
                });
            });
        });
        
        glus.Columns.AddBand(band =>
        {
            band.Caption = Translator.Father;
            band.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;

            band.Columns.Add(column =>
            {
                column.FieldName = "FatherFirstName";
                column.Caption = Translator.FirstName;
            });
            band.Columns.Add(column =>
            {
                column.FieldName = "FatherLastName";
                column.Caption = Translator.LastName;
            });
        });
        glus.Columns.AddBand(band =>
        {
            band.Caption = Translator.Mother;
            band.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;

            band.Columns.Add(column =>
            {
                column.FieldName = "MotherFirstName";
                column.Caption = Translator.FirstName;
            });
            band.Columns.Add(column =>
            {
                column.FieldName = "MotherLastName";
                column.Caption = Translator.LastName;
            });
        });
        
        glus.GridViewProperties.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btns =>
            {
                btns.Name = "btnClose" + propertyName + Model.Name;
                btns.UseSubmitBehavior = false;
                btns.Text = Translator.Close;
                btns.ClientSideEvents.Click = @"function(s, e) {
    glu = glu" + propertyName + Model.Name + @";
    glu.ConfirmCurrentSelection();
    glu.HideDropDown();
}";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        glus.DataBound = (s, e) =>
        {
            var glu = (MVCxGridLookup)s;
            glu.GridView.Width = 800;
        };
    });

    glue.BindToLINQ(string.Empty, string.Empty, (s, e) =>
    {
        e.KeyExpression = "Id";
        e.QueryableSource = service.GetEx(p => !p.IsDeleted);
    });

    glue.Bind(Model.GridLookupPersonId).GetHtml();
}
