﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string propertyName = "GridLookupAddressId";
    var service = IoC.Resolve<IAddressService>();

    var glue = Html.DevExpress().GridLookup(glus =>
    {
        glus.Name = "glu" + propertyName + Model.Name;
        glus.Width = Unit.Percentage(100);
        glus.KeyFieldName = "Id";
        glus.CommandColumn.Visible = true;
        glus.CommandColumn.ShowSelectCheckbox = true;
        glus.ShowModelErrors = true;
        glus.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

        glus.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Single;
        glus.Properties.TextFormatString = "{1}";
        glus.Properties.MultiTextSeparator = " | ";

        glus.GridViewProperties.CallbackRouteValues = new { Controller = controllerName, Action = propertyName + "Partial", Name = Model.Name };
        glus.GridViewProperties.Settings.ShowFilterRow = true;
        glus.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        glus.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Width = Unit.Pixel(50);
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "FullAddress";
            column.Caption = Translator.FullAddress;
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "PostalCode";
            column.Caption = Translator.PostalCode;
        });
        
        glus.Columns.Add(column =>
        {
            column.FieldName = "Latitude";
            column.Caption = Translator.Latitude;
        });
        
        glus.Columns.Add(column =>
        {
            column.FieldName = "Longitude";
            column.Caption = Translator.Longitude;
        });

        glus.GridViewProperties.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btns =>
            {
                btns.Name = "btnClose" + propertyName + Model.Name;
                btns.UseSubmitBehavior = false;
                btns.Text = Translator.Close;
                btns.ClientSideEvents.Click = @"function(s, e) {
    glu = glu" + propertyName + Model.Name + @";
    glu.ConfirmCurrentSelection();
    glu.HideDropDown();
}";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        glus.DataBound = (s, e) =>
        {
            var glu = (MVCxGridLookup)s;
            glu.GridView.Width = 400;
        };

        glus.GridViewClientSideEvents.BeginCallback = @"function(s, e) {
    var glu = gluGridLookupDistrictId" + Model.Name + @";
    e.customArgs['GridLookupDistrictId'] = gluGetValue(glu);
}";

        glus.GridViewClientSideEvents.EndCallback = @"function(s, e) {
    if (s.cpEndCallback == 'SetLatitudeLongitudeNull') {
        s.SetLatitudeLongitudeNull = null;

        speGridLookupLatitude" + Model.Name + @".SetValue(null);
        speGridLookupLongitude" + Model.Name + @".SetValue(null);
    }
}";         
        
        glus.Properties.ClientSideEvents.ValueChanged = @"function(s, e) {
    var addressId = gluGetValue(s);
    if (addressId == null) {
        speGridLookupLatitude" + Model.Name + @".SetValue(null);
        speGridLookupLongitude" + Model.Name + @".SetValue(null);
    } else {
        $.ajax({
            url: '/" + controllerName + @"/GetAddress',
            type: 'post',
            data: JSON.stringify({ id: addressId }),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (jsonResult) {
                if (jsonResult.Result != null) {
                    speGridLookupLatitude" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
                    speGridLookupLongitude" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
                } else if (jsonResult.ErrorMessage != null){
                    ShowError({
                        Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />") + @"' + jsonResult.ErrorMessage
                    });
                } else {
                    ShowForbidden({
                        Message: '" + Translator.YouAreNotAuthorizedToProcess.Js() + @"'
                    });
                }
            },
            error: function (xhr) {
                ShowError({
                    HeaderText: '" + Translator.UnexpectedError.Js() + @"',
                    Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />").Js() + @"' + xhr.statusText
                });
            }
        });
    }
}";        
    });        

    glue.BindToLINQ(string.Empty, string.Empty, (s, e) =>
    {
        e.KeyExpression = "Id";
        e.QueryableSource = service.Get(p => !p.IsDeleted && p.DistrictId == Model.GridLookupDistrictId);
    });

    glue.Bind(Model.GridLookupAddressId).GetHtml();
}