﻿@model TemplateMasterEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string propertyName = "TemplateUsers";
    var service = IoC.Resolve<IAccountUserService>();

    var glue = Html.DevExpress().GridLookup(glus =>
    {
        glus.Name = "glu" + propertyName + Model.Name;
        glus.Width = Unit.Percentage(100);
        glus.KeyFieldName = "Id";
        glus.CommandColumn.Visible = true;
        glus.CommandColumn.ShowSelectCheckbox = true;
        glus.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

        glus.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;
        glus.Properties.TextFormatString = "{1}";
        glus.Properties.MultiTextSeparator = " | ";

        glus.GridViewProperties.CallbackRouteValues = new { Controller = controllerName, Action = propertyName + "Partial", Name = Model.Name };
        glus.GridViewProperties.Settings.ShowFilterRow = true;
        glus.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        glus.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Width = Unit.Pixel(50);
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "Username";
            column.Caption = Translator.Username;
        });

        glus.Columns.Add(column =>
        {
            column.FieldName = "UserEMail";
            column.Caption = Translator.EMail;
        });

        glus.GridViewProperties.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btns =>
            {
                btns.Name = "btnClose" + propertyName + Model.Name;
                btns.UseSubmitBehavior = false;
                btns.Text = Translator.Close;
                btns.ClientSideEvents.Click = @"function(s, e) {
    glu = glu" + propertyName + Model.Name + @";
    glu.ConfirmCurrentSelection();
    glu.HideDropDown();
}";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        glus.DataBound = (s, e) =>
        {
            var glu = (MVCxGridLookup)s;
            glu.GridView.Width = 800;
        };

        glus.PreRender = (s, e) =>
        {
            MVCxGridLookup glu = s as MVCxGridLookup;
            if (Model.TemplateUsers != null)
            {
                glu.GridView.Selection.BeginSelection();
                foreach (int id in Model.TemplateUsers)
                {
                    glu.GridView.Selection.SelectRowByKey(id);
                }
                glu.GridView.Selection.EndSelection();
            }
        };
    });

    glue.BindToLINQ(string.Empty, string.Empty, (s, e) =>
    {
        e.KeyExpression = "Id";
        e.QueryableSource = service.GetEx(p => !p.IsDeleted);
    });

    glue.GetHtml();
}
