﻿@model AccountLanguageEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 0px">
                <div class="EditForm">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.LanguageCode, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.LanguageCode, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.LanguageName, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.LanguageName, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.IconPath, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @{ var stamp = "IconPath"; }
                            @Html.Action("SelectSingleFilePartial", "Popup", new SelectSingleFileModel
                            {
                                Name = stamp + Model.Name,
                                Width = Unit.Pixel(800),
                                Height = Unit.Pixel(600),
                                AllowedFileExtensions = new string[] { ".jpg", ".png", ".bmp", ".gif" },
                                RootFolder = "~/Content/Upload/AccountLanguage/" + stamp,
                                MaxUploadSize = 512000,
                                MinImageWidth = 24,
                                MaxImageWidth = 24,
                                MinImageHeight = 24,
                                MaxImageHeight = 24,
                                OkScript = @"function(s, e) {
    var path = '/Content/Upload/AccountLanguage/" + stamp + "/' + fmn" + stamp + Model.Name + @".GetSelectedFile().name;
    bte" + stamp + Model.Name + @".SetValue(path);
    puc" + stamp + Model.Name + @".Hide();
}"
                            })
                            @Html.DevExpress().ButtonEditFor(m => m.IconPath, btes =>
                            {
                                btes.Name = "bte" + btes.Name + Model.Name;
                                btes.Width = Unit.Percentage(100);
                                btes.ReadOnly = true;
                                btes.ShowModelErrors = true;
                                btes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                btes.Properties.Buttons.Add("...");

                                btes.Properties.ClientSideEvents.ButtonClick = @"function(s, e) {
    puc" + stamp + Model.Name + @".Show();
}";
                                btes.Properties.ClientSideEvents.KeyDown = @"function(s ,e) {
    var keyCode = e.htmlEvent.keyCode;
    if (keyCode == 8 || keyCode == 46) {
        s.SetValue(null);
    }
}";
                            }).GetHtml()
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <div style="height: 0px">
                @Html.DevExpress().LabelFor(m => m.LanguageDescription, lbls =>
                {
                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                }).GetHtml()
            </div>
        </div>
        <div>
            <div id="divLanguageDescription@(Model.Name)" style="height: 100%">
                @Html.DevExpress().MemoFor(m => m.LanguageDescription, mems =>
                {
                    mems.Name = "mem" + mems.Name + Model.Name;
                    mems.Width = Unit.Percentage(100);
                    mems.Height = Unit.Percentage(100);
                    mems.ShowModelErrors = true;
                    mems.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                    mems.Style.Add("min-height", "60px");
                }).GetHtml()
            </div>
        </div>
        <div>
            <div style="height: 0px">

                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            LanguageCode: txbLanguageCode" + Model.Name + @".GetValue(),
            LanguageName: txbLanguageName" + Model.Name + @".GetValue(),
            LanguageDescription: memLanguageDescription" + Model.Name + @".GetValue(),
            IconPath: bteIconPath" + Model.Name + @".GetValue()
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
