﻿@using (Html.BeginForm("HeaderPartial", "Account", FormMethod.Post, new { id = "frmHeaderPartial" }))
{
    @Html.Hidden("json", "", new { id = "hdnHeaderPartial" })
    
    <div class="headerTop">
        <div class="templateTitle">
            <img src="~/Content/Image/LogoBlack.png" alt="" />
            <div style="float: right; padding-left: 10px; padding-top: 10px">
                @Html.ActionLink(Translator.VillageSociety, "Index", "Home")
            </div>
        </div>
        <div class="loginControl">
            @Html.Partial("HeaderMenuPartial")
        </div>
    </div>
}