﻿@model LoginModel

<div class="EditForm" style="width: 100%">
    <div>
        <div>
            @Html.DevExpress().LabelFor(m => m.Username, lbls =>
            {
                lbls.ControlStyle.Wrap = DefaultBoolean.False;
            }).GetHtml()
        </div>
        <div>
            @Html.DevExpress().TextBoxFor(m => m.Username, txbs =>
            {
                txbs.Width = Unit.Percentage(100);
                txbs.ShowModelErrors = true;
                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
            }).GetHtml()
        </div>
    </div>
    <div>
        <div>
            @Html.DevExpress().LabelFor(m => m.Password, lbls =>
            {
                lbls.ControlStyle.Wrap = DefaultBoolean.False;
            }).GetHtml()
        </div>
        <div>
            @Html.DevExpress().TextBoxFor(m => m.Password, txbs =>
            {
                txbs.Width = Unit.Percentage(100);
                txbs.Properties.Password = true;
                txbs.AutoCompleteType = AutoCompleteType.Disabled;
                txbs.ShowModelErrors = true;
                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
            }).GetHtml()
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            @Html.DevExpress().CheckBoxFor(m => m.RememberMe, chbs =>
            {
                chbs.ShowModelErrors = true;
                chbs.Text = Translator.RememberMe;
                chbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
            }).GetHtml()
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            @Html.Partial("CaptchaPartial")
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            @Html.ValidationMessage("TheUsernameOrPasswordProvidedIsIncorrect")
        </div>
    </div>
</div>


<div class="EditFormToolbar" style="width: 100%">
    <div>
        <div>
            @Html.DevExpress().Button(btns =>
            {
                btns.Name = "btnLogin";
                btns.Text = Translator.Login;
                btns.Images.Image.Url = "~/Content/Icon/Login/16.png";
                btns.UseSubmitBehavior = true;
            }).GetHtml()
        </div>
    </div>
</div>
