﻿@model HtmlPopupModel

@Html.DevExpress().PopupControl(pucs =>
{
    pucs.Name = "puc" + Model.Name;
    pucs.CloseAction = CloseAction.CloseButton;
    pucs.PopupVerticalAlign = PopupVerticalAlign.Above;
    pucs.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    if (!Model.Width.IsEmpty)
        pucs.Width = Model.Width;
    if (!Model.Height.IsEmpty)
        pucs.Height = Model.Height;
    pucs.AllowDragging = true;
    pucs.Images.Header.Url = Model.HeaderImageUrl ?? "/Content/Icon/NoIcon/16.png";
    pucs.HeaderText = Model.HeaderText;
    pucs.Modal = Model.Modal;
    pucs.ShowOnPageLoad = Model.ShowOnPageLoad;
    
    pucs.SetContent(() =>
    {
        ViewContext.Writer.Write(Model.Html);

        ViewContext.Writer.Write(@"
<div class=""EditFormToolbar"" style=""width: 100%;"">
    <div>
        <div>");

        Html.DevExpress().Button(btns =>
        {
            btns.Name = "btnOk" + Model.Name;
            btns.Text = Translator.Ok;
            btns.Images.Image.Url = "~/Content/Icon/Ok/16.png";
            btns.ClientVisible = Model.IsOkVisible;
            btns.ClientSideEvents.Click = Model.OkMethod;
        }).Render();

        ViewContext.Writer.Write(@"
        </div>
        <div>");

        Html.DevExpress().Button(btns =>
        {
            btns.Name = "btnCancel" + Model.Name;
            btns.Text = Translator.Cancel;
            btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
            btns.ClientVisible = Model.IsCancelVisible;
            btns.ClientSideEvents.Click = Model.CancelMethod;
        }).Render();

        ViewContext.Writer.Write(@"
        </div>
        <div>");

        Html.DevExpress().Button(btns =>
        {
            btns.Name = "btnClose" + Model.Name;
            btns.Text = Translator.Close;
            btns.Images.Image.Url = "~/Content/Icon/Close/16.png";
            btns.ClientVisible = Model.IsCloseVisible;
            btns.ClientSideEvents.Click = @"function(s, e) {
    puc" + Model.Name + @".Hide();
}";
        }).Render();

        ViewContext.Writer.Write(@"
        </div>
    </div>
</div>");
                
    });
}).GetHtml()
