﻿@model SelectSingleFileModel

@Html.DevExpress().PopupControl(pucs =>
{
    pucs.Name = "puc" + Model.Name;
    pucs.CallbackRouteValues = new { Controller = "Popup", Action = "ActionRoutePartial" };
    pucs.CloseAction = CloseAction.CloseButton;
    pucs.PopupVerticalAlign = PopupVerticalAlign.Above;
    pucs.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    if (!Model.Width.IsEmpty)
        pucs.Width = Model.Width;
    if (!Model.Height.IsEmpty)
        pucs.Height = Model.Height;
    pucs.LoadContentViaCallback = LoadContentViaCallback.None;
    pucs.AllowDragging = true;
    pucs.AllowResize = true;
    pucs.Images.Header.Url = "/Content/Icon/CursorSelect/16.png";
    pucs.HeaderText = Translator.SelectSingleFile;
    pucs.Modal = true;

    pucs.Styles.Content.Paddings.CopyFrom(new Paddings(5, 5, 5, 5));

    pucs.SetContent(() =>
    {
        ViewContext.Writer.Write(@"
<div class=""Table"" style=""width: 100%; height: 100%"">
    <div>
        <div style=""height: 100%"">");
        Html.RenderAction("SelectSingleFileManagerPartial", "Popup", Model);
        
        ViewContext.Writer.Write(@"
        </div>
    </div>");

        ViewContext.Writer.Write(@"
    <div>
        <div>");

        
        ViewContext.Writer.Write(@"
    <div class=""EditFormToolbar"" style=""width: 100%"">
        <div>
            <div>");
        @Html.DevExpress().Button(btns =>
        {
            btns.Name = "btnOk" + Model.Name;
            btns.Text = Translator.Ok;
            btns.Images.Image.Url = "~/Content/Icon/Ok/16.png";
            btns.ClientEnabled = false;
            btns.ClientSideEvents.Click = Model.OkScript;
        }).Render();
        
        ViewContext.Writer.Write(@"
            </div>
            <div>");
        @Html.DevExpress().Button(btns =>
        {
            btns.Name = "btnCancel" + Model.Name;
            btns.Text = Translator.Cancel;
            btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
            btns.ClientSideEvents.Click = Model.CancelScript;
        }).Render();
        ViewContext.Writer.Write(@"
            </div>
        </div>
    </div>");  
        
        
        
        ViewContext.Writer.Write(@"
        </div>
    </div>
</div>");

    });

    pucs.ClientSideEvents.Shown = @"function(s, e) {
    fmn" + Model.Name + @".AdjustControl();
    fmn" + Model.Name + @".SetVisible(true);
}";
    
    pucs.ClientSideEvents.BeforeResizing = @"function(s, e) {
    fmn" + Model.Name + @".SetVisible(false);
}";
    
    pucs.ClientSideEvents.Resize = @"function(s, e) {
    fmn" + Model.Name + @".AdjustControl();
    fmn" + Model.Name + @".SetVisible(true);
}";
    
}).GetHtml()