﻿
@{
    ViewBag.Title = "GoogleMaps";
    
}

@section Script
{
    <style type="text/css">
        .pac-container {
            width: 95% !important;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript">
        var marker;
        var map;
        var autocomplete;
        var geocoder = new google.maps.Geocoder();

        function Initialize() {
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(37.36569704029218, 32.1348069445969)
            };

            map = new google.maps.Map(document.getElementById('divGoogleMap'), mapOptions);

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(37.36569704029218, 32.1348069445969)
            });

            Geocode(marker.position);

            google.maps.event.addListener(marker, 'dragstart', function (e) {
                ClearValues();
            });

            google.maps.event.addListener(marker, 'dragend', function (e) {
                var position = marker.getPosition();
                Geocode(position);
            });

            autocomplete = new google.maps.places.Autocomplete(txbSearch.GetInputElement(), { types: ['geocode'] });
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                if (place != undefined && place.geometry != undefined) {
                    ClearValues();

                    marker.setPosition(place.geometry.location);
                    map.setCenter(place.geometry.location);

                    SetValues(place);
                }
            });
        }

        function Geocode(position) {
            geocoder.geocode({ latLng: position }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    SetValues(results[0]);
                }
            });
        }

        function ClearValues() {
            txbSearch.SetValue(null);

            txbCountry.SetValue(null);
            txbCity.SetValue(null);
            txbDistrict.SetValue(null);
            txbPostalCode.SetValue(null);
            txbFullAddress.SetValue(null);
            speLatitude.SetValue(null);
            speLongitude.SetValue(null);
        }

        function SetValues(place) {
            var components = $.map(place.address_components, function (component) {
                var types = $.map(component.types, function (type) {
                    if (type == 'postal_code')
                        return type;
                });

                if (types.length == 1)
                    return component;
                else if (types.length > 1)
                    alert('Unexpected postal_code type');
            });
            if (components.length == 1)
                txbPostalCode.SetValue(components[0].long_name);
            else if (components.length > 1)
                alert('Unexpected postal_code component');


            components = $.map(place.address_components, function (component) {
                var types = $.map(component.types, function (type) {
                    if (type == 'country' || type == 'political')
                        return type;
                });

                if (types.length == 2)
                    return component;
                else if (types.length > 2)
                    alert('Unexpected country type');
            });
            if (components.length == 1) {
                document.getElementById('hdnCountryCode').value = components[0].short_name;
                txbCountry.SetValue(components[0].long_name);
            }
            else if (components.length > 1)
                alert('Unexpected country component');


            components = $.map(place.address_components, function (component) {
                var types = $.map(component.types, function (type) {
                    if (type == 'administrative_area_level_1' || type == 'political')
                        return type;
                });

                if (types.length == 2)
                    return component;
                else if (types.length > 2)
                    alert('Unexpected city type');
            });
            if (components.length == 1)
                txbCity.SetValue(components[0].long_name);
            else if (components.length > 1)
                alert('Unexpected city component');


            components = $.map(place.address_components, function (component) {
                var types = $.map(component.types, function (type) {
                    if (type == 'sublocality_level_1' || type == 'sublocality' || type == 'political')
                        return type;
                });

                if (types.length == 3)
                    return component;
                else if (types.length > 3)
                    alert('Unexpected district1 type');
            });
            if (components.length == 1)
                txbDistrict.SetValue(components[0].long_name);
            else if (components.length > 1)
                alert('Unexpected district1 component');


            if (txbDistrict.GetValue() == null) {
                components = $.map(place.address_components, function (component) {
                    var types = $.map(component.types, function (type) {
                        if (type == 'administrative_area_level_2' || type == 'political')
                            return type;
                    });

                    if (types.length == 2)
                        return component;
                    else if (types.length > 2)
                        alert('Unexpected district2 type');
                });
                if (components.length == 1)
                    txbDistrict.SetValue(components[0].long_name);
                else if (components.length > 1)
                    alert('Unexpected district2 component');
            }

            txbFullAddress.SetValue(place.formatted_address);
            speLatitude.SetValue(marker.position.lat());
            speLongitude.SetValue(marker.position.lng());

            //SetTestValues(place);
        }

        function SetTestValues(place) {
            var s = '';

            for (var i = place.address_components.length - 1; i >= 0; i--) {
                for (var j = 0; j < place.address_components[i].types.length; j++) {
                    var type = place.address_components[i].types[j];
                    s += '<b>' + type + '</b>  ';
                }
                s += place.address_components[i].long_name + '<br />';
            }

            lblTest.SetText(s);
        }

        google.maps.event.addDomListener(window, 'load', Initialize);
    </script>
}

@*<div style="position: absolute; right: 0; bottom: 0;  z-index: 1000000; background-color: white">
    @Html.DevExpress().Label(lbls =>
        {
            lbls.Name = "lblTest";
            lbls.Properties.ClientInstanceName = lbls.Name;
            lbls.EncodeHtml = false;
            lbls.Text = "Deneme 132 ";
        }).GetHtml()
</div>*@

<div style="width: 700px; height: 500px;">
    <div class="Table" style="width: 100%">
        <div>
            <div style="width: 20%">
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbSearch";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "Search Address";                    
                }).GetHtml()
            </div>
            <div style="width: 60%">
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbFullAddress";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "Full Address";
                }).GetHtml()
            </div>
            <div style="width: 10%">
                @Html.DevExpress().SpinEdit(spes =>
                {
                    spes.Name = "speLatitude";
                    spes.Width = Unit.Percentage(100);
                    spes.Properties.NullText = "Latitude";
                }).GetHtml()
            </div>
            <div style="width: 10%">
                @Html.DevExpress().TextBox(spes =>
                {
                    spes.Name = "speLongitude";
                    spes.Width = Unit.Percentage(100);
                    spes.Properties.NullText = "Longitude";
                }).GetHtml()
            </div>
        </div>
    </div>
    <div id="divGoogleMap" style="width: 100%; height: inherit"></div>
    <div class="Table" style="width: 100%">
        <div>
            <div style="width: 25%">
                <input id="hdnCountryCode" type="hidden" />
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbCountry";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "Country";
                    txbs.ReadOnly = true;
                }).GetHtml()
            </div>
            <div style="width: 25%">
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbCity";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "City";
                    txbs.ReadOnly = true;
                }).GetHtml()
            </div>
            <div style="width: 40%">
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbDistrict";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "District";
                }).GetHtml()
            </div>
            <div style="width: 10%">
                @Html.DevExpress().TextBox(txbs =>
                {
                    txbs.Name = "txbPostalCode";
                    txbs.Width = Unit.Percentage(100);
                    txbs.Properties.NullText = "PostalCode";
                }).GetHtml()
            </div>
        </div>
    </div>
</div>
