<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Style/StyleLibrary.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/DataManipulation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ScriptLibrary.js")" type="text/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <script type="text/javascript">
    var Translator = {
        UniqueKeyExceptionWhileInserting: '@(Translator.UniqueKeyExceptionWhileInserting.Js())',
        UniqueKeyExceptionWhileUpdating: '@(Translator.UniqueKeyExceptionWhileUpdating.Js())',
        UniqueKeyExceptionExistingRecord: '@(Translator.UniqueKeyExceptionExistingRecord.Js())',
        Warning: '@(Translator.Warning.Js())',
        Completed: '@(Translator.Completed.Js())',
        Error: '@(Translator.Error.Js())',
        Forbidden: '@(Translator.Forbidden.Js())',
        UnexpectedError: '@(Translator.UnexpectedError.Js())',
        PleaseTellTheProgrammersAboutTheError: '@(Translator.PleaseTellTheProgrammersAboutTheError.Js())',
        TheDataYouEnterWillBeRecorded: '@(Translator.TheDataYouEnterWillBeRecorded.Js())',
        TheProcessOf_0_HasBeenCompleted: '@(Translator.TheProcessOf_0_HasBeenCompleted.Js())',
        Save: '@(Translator.Save.Js())',
        Cancel: '@(Translator.Cancel.Js())',
        Reload: '@(Translator.Reload.Js())',
        };

    var HtmlStringFactory = {
        Message: '@(HtmlStringFactory.Message().Html().Js())'
    };

    function ShowWarning(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Warning/32.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Warning/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'black', 'Arial', '14px', params.Message);
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(false);
        btnCancelMessage.SetVisible(false);
        btnCloseMessage.SetVisible(true);

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Warning);
        pucMessage.Show();
    }

    function ShowCompleted(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Completed/48.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Completed/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'black', 'Arial', '14px', String.format(Translator.TheProcessOf_0_HasBeenCompleted, params.Message));
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(false);
        btnCancelMessage.SetVisible(false);
        btnCloseMessage.SetVisible(true);

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Completed);
        pucMessage.Show();
    }

    function ShowError(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Error/48.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Error/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'red', 'Arial', '14px', params.Message);
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(false);
        btnCancelMessage.SetVisible(false);
        btnCloseMessage.SetVisible(true);

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Error);
        pucMessage.Show();
    }

    function ShowForbidden(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Warning/48.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Forbidden/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'red', 'Arial', '14px', params.Message);
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(false);
        btnCancelMessage.SetVisible(false);
        btnCloseMessage.SetVisible(true);

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Forbidden);
        pucMessage.Show();
    }

    function ShowHelp(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Help/48.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Help/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'black', 'Arial', '14px', params.Message);
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(false);
        btnCancelMessage.SetVisible(false);
        btnCloseMessage.SetVisible(true);

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Help);
        pucMessage.Show();
    }

    function ShowOkCancel(params) {
        params.Width = params.Width == undefined ? '300px' : params.Width;
        params.ImageSrc = params.ImageUrl == undefined ? '/Content/Icon/Warning/48.png' : params.ImageSrc;
        params.ImageAlt = params.ImageAlt == undefined ? Translator.Warning : params.ImageAlt;
        params.HeaderImageUrl = params.HeaderImageUrl == undefined ? '/Content/Icon/Warning/16.png' : params.HeaderImageUrl;

        var html = String.format(HtmlStringFactory.Message, params.Width, params.ImageSrc, params.ImageAlt, 'black', 'Arial', '14px', params.Message);
        $('#divMessage').html($("<div/>").html(html).text());

        btnOkMessage.SetVisible(true);
        btnCancelMessage.SetVisible(true);
        btnCloseMessage.SetVisible(false);

        btnOkMessage.Click.ClearHandlers();
        btnOkMessage.Click.AddHandler(params.OkScript);

        btnCancelMessage.Click.ClearHandlers();
        btnCancelMessage.Click.AddHandler(function (s, e) {
            pucMessage.Hide();
        });

        pucMessage.SetSize(0, 0);
        pucMessage.SetHeaderImageUrl(params.HeaderImageUrl);
        pucMessage.SetHeaderText(Translator.Warning);
        pucMessage.Show();
    }

</script>

    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet }
)
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new Script { ExtensionSuite = ExtensionSuite.GridView }, 
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors }, 
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    //new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet }
)
    <style type="text/css">
        .pac-container { /*drop-down for google-map address search*/
            width: 600px !important;
            z-index: 100000;
        }
    </style>
</head>
<body>
    @Html.Action("HtmlPartial", "Popup", new HtmlPopupModel
    {
        Name = "Message",
        HeaderText = "Message",
        Html = @"<div id=""divMessage""></div>"
    })

    @Html.Action("ActionPartial", "Popup", new ActionPopupModel
    {
        Name = "Action"
    })

    @Html.DevExpress().Splitter(spls => {
        spls.Name = "splMain";
        spls.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        spls.FullscreenMode = true;
        spls.SeparatorVisible = true;
        spls.Styles.Pane.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        spls.Styles.Pane.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
        spls.ResizingMode = ResizingMode.Postponed;

        spls.SaveStateToCookies = true;
        spls.SaveStateToCookiesID = spls.Name;
    
        spls.Panes.Add(pnes => {
            pnes.Name = "pneHeader";
            pnes.AutoHeight = true;
            pnes.AllowResize = DefaultBoolean.False;
            pnes.ShowCollapseBackwardButton = DefaultBoolean.True;
            pnes.PaneStyle.BorderBottom.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
            pnes.PaneStyle.CssClass = "headerPane";
            
            pnes.SetContent(() => {
                Html.RenderAction("HeaderPartial", "Account");
            });
        });

        spls.Panes.Add(pnes => {
            pnes.Name = "pneContent";
            pnes.MinSize = System.Web.UI.WebControls.Unit.Pixel(375);
            pnes.PaneStyle.BackColor = System.Drawing.Color.White;
            pnes.PaneStyle.BorderBottom.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
            //pnes.ScrollBars = ScrollBars.Both;           
            
            pnes.Panes.Add(pnesLeft =>
            {
                pnesLeft.Name = "pneContentLeft";
                pnesLeft.Size = Unit.Percentage(15);
                pnesLeft.AllowResize = DefaultBoolean.True;
                pnesLeft.ShowCollapseBackwardButton = DefaultBoolean.True;
                pnesLeft.ScrollBars = ScrollBars.Auto;
                
                pnesLeft.SetContent(() =>
                {
                    Html.RenderAction("LeftPartial", "Account");
                });
            });

            pnes.Panes.Add(pnesRight =>
            {
                pnesRight.Name = "pneContentRight";
                pnesRight.SetContent(RenderBody().ToHtmlString());
            });            
        });

        spls.Panes.Add(pnes => {
            pnes.Name = "pneFooter";
            pnes.AutoHeight = true;
            pnes.AllowResize = DefaultBoolean.False;
            pnes.ShowCollapseForwardButton = DefaultBoolean.True;
            pnes.PaneStyle.CssClass = "footerPane";

            pnes.SetContent(() =>
            {
                Html.RenderPartial("FooterPartialView");
            });
        });

        spls.ClientSideEvents.Init = @"function(s, e) {
    
}";

        spls.ClientSideEvents.PaneResizing = @"function(s, e) {
    var name = e.pane.name;

    if (name == 'pneContentRight') {
    }
}";

        spls.ClientSideEvents.PaneResized = @"function(s, e) {
    var name = e.pane.name;

    if (name == 'pneContentRight' && s.cpResize != null) {
        if (s.cpResize.Type == 'Grid' || s.cpResize.Type == 'TreeList') {
            var offsetWidth = s.cpResize.OffsetWidth != null ? s.cpResize.OffsetWidth : 0;
            var offsetHeight = s.cpResize.OffsetHeight != null ? s.cpResize.OffsetHeight : 0;

            s.cpResize.Element.SetWidth(e.pane.GetClientWidth() + offsetWidth);
            s.cpResize.Element.SetHeight(e.pane.GetClientHeight() + offsetHeight);
        }
    }
}";

        spls.ClientSideEvents.PaneResizeCompleted = @"function(s, e) {
    var name = e.pane.name;

    if (name == 'pneContentRight') {
    }
}";

    }).GetHtml()

    @RenderSection("Script", required: false)

</body>
</html>