﻿@model EditProfileModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    string stamp = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit" }))
{
    <div class="Table" style="width: 100%; height: 100%">
        <div style="height: 100%">
            <div>
                <div class="DivSideBySide" style="width: 100%">
                    <div class="EditForm" style="width: 60%; vertical-align: top; padding-right: 10px">
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.FirstName, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.FirstName, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.LastName, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.LastName, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.IsMale, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().RadioButtonListFor(m => m.IsMale, rbls =>
                                {
                                    rbls.Name = "rbl" + rbls.Name + Model.Name;
                                    rbls.ShowModelErrors = true;
                                    rbls.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                    rbls.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    rbls.Properties.Items.Add(Translator.Male, 1, "~/Content/Icon/Male/16.png");
                                    rbls.Properties.Items.Add(Translator.Female, 0, "~/Content/Icon/Female/16.png");
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.Username, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.Username, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.UserEMail, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.UserEMail, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.CurrentPassword, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.CurrentPassword, txbs =>
                                {
                                    txbs.Name = "txb" + txbs.Name + Model.Name;
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.Properties.Password = true;
                                    txbs.AutoCompleteType = AutoCompleteType.Disabled;
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.NewPassword, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.NewPassword, txbs =>
                                {
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.Properties.Password = true;
                                    txbs.AutoCompleteType = AutoCompleteType.Disabled;
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ConfirmPassword, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, txbs =>
                                {
                                    txbs.Width = Unit.Percentage(100);
                                    txbs.Properties.Password = true;
                                    txbs.AutoCompleteType = AutoCompleteType.Disabled;
                                    txbs.ShowModelErrors = true;
                                    txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                }).GetHtml()
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.ThemeId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("EditProfileThemeIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountTheme")
                                    {
                                        ComboBoxName = "cmbThemeId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.DevExpress().LabelFor(m => m.LanguageId, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                            </div>
                            <div>
                                <div>
                                    @Html.Partial("EditProfileLanguageIdPartial", Model)
                                </div>
                                <div>
                                    @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountLanguage")
                                    {
                                        ComboBoxName = "cmbLanguageId",
                                        ModelName = Model.Name
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 40%; padding-left: 10px">
                        <img id="imgEditProfile@(Model.Name)" src="@(Security.PicturePath ?? (Security.IsMale ? "/Content/Image/NoPhotoForMale.png" : "/Content/Image/NoPhotoForFemale.png"))" alt="" />

                        <div>
                            <div>
                                @{ stamp = "PicturePath"; }
                                @Html.Action("SelectSingleFilePartial", "Popup", new SelectSingleFileModel
                                {
                                    Name = stamp + Model.Name,
                                    Width = Unit.Pixel(800),
                                    Height = Unit.Pixel(600),
                                    AllowedFileExtensions = new string[] { ".jpg", ".png", ".bmp", ".gif" },
                                    RootFolder = "~/Content/Upload/AccountPerson/" + stamp + "/" + Security.PersonId.ToString() + " " + Security.FirstName + " " + Security.LastName,
                                    MaxUploadSize = 512000,
                                    MinImageWidth = 200,
                                    MaxImageWidth = 200,
                                    MinImageHeight = 230,
                                    MaxImageHeight = 230,
                                    OkScript = @"function(s, e) {
    var path = '/Content/Upload/AccountPerson/" + stamp + "/" + Security.PersonId.ToString() + " " + Security.FirstName + " " + Security.LastName + "/' + fmn" + stamp + Model.Name + @".GetSelectedFile().name;
    bte" + stamp + Model.Name + @".SetValue(path);
    $('#imgEditProfile" + Model.Name + @"').attr('src', path);
    puc" + stamp + Model.Name + @".Hide();
}"
                    })
                                @Html.DevExpress().ButtonEditFor(m => m.PicturePath, btes =>
                                {
                                    btes.Name = "bte" + btes.Name + Model.Name;
                                    btes.Width = Unit.Percentage(100);
                                    btes.ReadOnly = true;
                                    btes.ShowModelErrors = true;
                                    btes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    btes.Properties.Buttons.Add("...");

                                    btes.Properties.ClientSideEvents.ButtonClick = @"function(s, e) {
    puc" + stamp + Model.Name + @".Show();
}";
                                    btes.Properties.ClientSideEvents.KeyDown = @"function(s ,e) {
    var keyCode = e.htmlEvent.keyCode;
    if (keyCode == 8 || keyCode == 46) {
        s.SetValue(null);
        $('#imgEditProfile" + Model.Name + @"').attr('src', '" + (Security.IsMale ? "/Content/Image/NoPhotoForMale.png" : "/Content/Image/NoPhotoForFemale.png") + @"');
    }
}";
                                }).GetHtml()
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            FirstName: txbFirstName" + Model.Name + @".GetValue(),
            LastName: txbLastName" + Model.Name + @".GetValue(),
            IsMale: rblIsMale" + Model.Name + @".GetValue(),
            Username: txbUsername" + Model.Name + @".GetValue(),
            UserEMail: txbUserEMail" + Model.Name + @".GetValue(),
            CurrentPassword: txbCurrentPassword" + Model.Name + @".GetValue(),
            NewPassword: NewPassword.GetValue(),
            ConfirmPassword: ConfirmPassword.GetValue(),
            ThemeId: cmbThemeId" + Model.Name + @".GetValue(),
            LanguageId: cmbLanguageId" + Model.Name + @".GetValue(),
            PicturePath: btePicturePath" + Model.Name + @".GetValue()
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + @"/EditProfile',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: null,
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }
}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
