﻿@model AccountUserEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 100%">
                <div class="EditForm">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.PersonId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("PersonIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountPerson")
                                {
                                    ComboBoxName = "cmbPersonId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.RoleId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("RoleIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountRole")
                                {
                                    ComboBoxName = "cmbRoleId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.Username, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.Username, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.UserEMail, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.UserEMail, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.Password, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.Password, txbs =>
                            {
                                txbs.Width = Unit.Percentage(100);
                                txbs.Properties.Password = true;
                                txbs.AutoCompleteType = AutoCompleteType.Disabled;
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.ConfirmPassword, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, txbs =>
                            {
                                txbs.Width = Unit.Percentage(100);
                                txbs.Properties.Password = true;
                                txbs.AutoCompleteType = AutoCompleteType.Disabled;
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.ThemeId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("ThemeIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountTheme")
                                {
                                    ComboBoxName = "cmbThemeId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.LanguageId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("LanguageIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountLanguage")
                                {
                                    ComboBoxName = "cmbLanguageId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.IsSystemAdmin, lbls =>
                                {
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().RadioButtonListFor(m => m.IsSystemAdmin, rbls =>
                                {
                                    rbls.Name = "rbl" + rbls.Name + Model.Name;
                                    rbls.ShowModelErrors = true;
                                    rbls.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                    rbls.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                    rbls.Properties.Items.Add(Translator.Yes, 1);
                                    rbls.Properties.Items.Add(Translator.No, 0);
                                }).GetHtml()
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            PersonId: cmbPersonId" + Model.Name + @".GetValue(),
            RoleId: cmbRoleId" + Model.Name + @".GetValue(),
            Username: txbUsername" + Model.Name + @".GetValue(),
            UserEMail: txbUserEMail" + Model.Name + @".GetValue(),
            Password: Password.GetValue(),
            ConfirmPassword: ConfirmPassword.GetValue(),
            ThemeId: cmbThemeId" + Model.Name + @".GetValue(),
            LanguageId: cmbLanguageId" + Model.Name + @".GetValue(),
            IsSystemAdmin: rblIsSystemAdmin" + Model.Name + @".GetValue(),
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
