﻿@model Core.AccountUserEx

@{
    var personService = IoC.Resolve<IAccountPersonService>();
    var person = personService.GetById(Model.PersonId);
    var father = person.Father.HasValue ? personService.GetById(person.Father.Value) : null;
    var mother = person.Mother.HasValue ? personService.GetById(person.Mother.Value) : null;
}
    <div class="DivSideBySide" style="width: 100%; height: 100%;  padding-top: 10px; vertical-align: top;">
        <div style="vertical-align: top; width: 100%; padding-left: 10px">
            <div class="EditForm">
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.FirstName):
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(person.FirstName)
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.LastName):
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(person.LastName)
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.Gender):
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(Model.IsMale ? Translator.Male : Translator.Female)
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.FatherName):
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(father != null ? father.FirstName + " " + father.LastName : "")
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.MotherName):
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(mother != null ? mother.FirstName + " " + mother.LastName : "")
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.Username)
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(Model.Username)
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.EMail)
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(Model.UserEMail)
                    </div>
                </div>
                <div>
                    <div style="font-family: Tahoma; font-weight: bold; color: #008080; font-size: 16px; white-space: nowrap">
                        @(Translator.RoleName)
                    </div>
                    <div style="font-family: Tahoma; padding-left: 10px; font-size: 16px; white-space: nowrap">
                        @(Model.RoleName)
                    </div>
                </div>

            </div>
        </div>
        <div style="padding-left: 20px">
            <img src="@(Model.PicturePath ?? (Security.IsMale ? "/Content/Image/NoPhotoForMale.png" : "/Content/Image/NoPhotoForFemale.png"))">
        </div>
    </div>