﻿@model AccountPersonAddressEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 100%">
                <div class="EditForm" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.PersonId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("PersonIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountPerson")
                                {
                                    ComboBoxName = "cmbPersonId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.AddressTypeId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("AddressTypeIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressType")
                                {
                                    ComboBoxName = "cmbAddressTypeId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.CountryId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("CountryIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCountry")
                                {
                                    ComboBoxName = "cmbCountryId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.CityId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("CityIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCity")
                                {
                                    ComboBoxName = "cmbCityId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.DistrictId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("DistrictIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressDistrict")
                                {
                                    ComboBoxName = "cmbDistrictId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.AddressId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("AddressIdPartial", Model)

                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("Address")
                                {
                                    ComboBoxName = "cmbAddressId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().Label(lbls =>
                            {
                                lbls.Name = "lblLatitudeLongitude" + Model.Name;
                                lbls.Text = Translator.Latitude + "-" + Translator.Longitude;
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                <div class="DivSideBySide" style="width: 100%">
                                    <div>
                                        @Html.DevExpress().SpinEditFor(m => m.Latitude, spes =>
                                        {
                                            spes.Name = "spe" + spes.Name + Model.Name;
                                            spes.Width = Unit.Percentage(100);
                                            spes.ReadOnly = true;
                                        }).GetHtml()
                                    </div>
                                    <div>
                                        @Html.DevExpress().SpinEditFor(m => m.Longitude, spes =>
                                        {
                                            spes.Name = "spe" + spes.Name + Model.Name;
                                            spes.Width = Unit.Percentage(100);
                                            spes.ReadOnly = true;
                                        }).GetHtml()
                                    </div>
                                </div>
                            </div>
                            <div style="vertical-align: middle">
                                @Html.Action("MapMenuPartial", "EditForm", new MapMenuModel(IconSize.Png16)
                                {
                                    ModelName = Model.Name,
                                    SuccessMethod = @"function(jsonResult) {
    cmbClearAddAndSetItem(cmbCountryId" + Model.Name + @", [jsonResult.Result.CountryCode, jsonResult.Result.CountryName], jsonResult.Result.CountryId);
    cmbClearAddAndSetItem(cmbCityId" + Model.Name + @", jsonResult.Result.CityName, jsonResult.Result.CityId);
    cmbClearAddAndSetItem(cmbDistrictId" + Model.Name + @", jsonResult.Result.DistrictName, jsonResult.Result.DistrictId);
    cmbClearAddAndSetItem(cmbAddressId" + Model.Name + @", jsonResult.Result.FullAddress, jsonResult.Result.Id);
    speLatitude" + Model.Name + @".SetValue(jsonResult.Result.Latitude);
    speLongitude" + Model.Name + @".SetValue(jsonResult.Result.Longitude);
}"
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 0px">

                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            PersonId: cmbPersonId" + Model.Name + @".GetValue(),
            AddressId: cmbAddressId" + Model.Name + @".GetValue(),
            AddressTypeId: cmbAddressTypeId" + Model.Name + @".GetValue(),
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
