﻿@model AccountPersonEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 100%">
                <div class="EditForm" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.VillageId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("VillageIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("SystemVillage")
                                {
                                    ComboBoxName = "cmbVillageId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.FirstName, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.FirstName, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.LastName, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.LastName, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.IsMale, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().RadioButtonListFor(m => m.IsMale, rbls =>
                            {
                                rbls.Name = "rbl" + rbls.Name + Model.Name;
                                rbls.ShowModelErrors = true;
                                rbls.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                rbls.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                rbls.Properties.Items.Add(Translator.Male, 1, "~/Content/Icon/Male/16.png");
                                rbls.Properties.Items.Add(Translator.Female, 0, "~/Content/Icon/Female/16.png");
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.PicturePath, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.Action("SelectSingleFilePartial", "Popup", new SelectSingleFileModel
                            {
                                Name = "PicturePath" + Model.Name,
                                Width = Unit.Pixel(800),
                                Height = Unit.Pixel(600),
                                AllowedFileExtensions = new string[] { ".jpg", ".png", ".bmp", ".gif" },
                                RootFolder = "/Content/Image/AccountPerson",
                                MaxUploadSize = 512000,
                                MinImageWidth = 200,
                                MaxImageWidth = 200,
                                MinImageHeight = 230,
                                MaxImageHeight = 230,
                                OkScript = @"function(s, e) {
    var path = '/Content/Image/AccountPerson/' + fmnPicturePath" + Model.Name + @".GetSelectedFile().name;
    btePicturePath" + Model.Name + @".SetValue(path);
    pucPicturePath" + Model.Name + @".Hide();
}"
                            })
                            @Html.DevExpress().ButtonEditFor(m => m.PicturePath, btes =>
                            {
                                btes.Name = "bte" + btes.Name + Model.Name;
                                btes.Width = Unit.Percentage(100);
                                btes.ReadOnly = true;
                                btes.ShowModelErrors = true;
                                btes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);

                                btes.Properties.Buttons.Add("...");

                                btes.Properties.ClientSideEvents.ButtonClick = @"function(s, e) {
    pucPicturePath" + Model.Name + @".Show();
}";
                                btes.Properties.ClientSideEvents.KeyDown = @"function(s ,e) {
    var keyCode = e.htmlEvent.keyCode;
    if (keyCode == 8 || keyCode == 46) {
        s.SetValue(null);
    }
}";
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.Father, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("FatherPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountPerson")
                                {
                                    ComboBoxName = "cmbFather",
                                    ModelName = Model.Name,
                                    AddShownMethod = @"function(s, e) {
    cmbClearAddAndSetItem(cmbVillageId" + Model.Name + "Edit, '" + Security.VillageName + "', " + Security.VillageId.ToString() + ", " + (Security.IsSystemAdmin ? "true" : "false") + @");
    rblIsMale" + Model.Name + @"Edit.SetValue(1);
    rblIsMale" + Model.Name + @"Edit.SetEnabled(false);
}",
                                    EditShownMethod = @"function(s, e) {
    var cmb = cmbFather" + Model.Name + @";
    var rblIsMale = window['rblIsMale" + Model.Name + @"Edit' + cmb.GetValue()];
    rblIsMale.SetValue(1);
    rblIsMale.SetEnabled(false);
}"
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.Mother, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("MotherPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AccountPerson")
                                {
                                    ComboBoxName = "cmbMother",
                                    ModelName = Model.Name,
                                    AddShownMethod = @"function(s, e) {
    rblIsMale" + Model.Name + @"Edit.SetValue(0);
    rblIsMale" + Model.Name + @"Edit.SetEnabled(false);
}",
                                    EditShownMethod = @"function(s, e) {
    var cmb = cmbMother" + Model.Name + @";
    var rblIsMale = window['rblIsMale" + Model.Name + @"Edit' + cmb.GetValue()];
    rblIsMale.SetValue(0);
    rblIsMale.SetEnabled(false);
}"

                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            VillageId: cmbVillageId" + Model.Name + @".GetValue(),
            FirstName: txbFirstName" + Model.Name + @".GetValue(),
            LastName: txbLastName" + Model.Name + @".GetValue(),
            IsMale: rblIsMale" + Model.Name + @".GetValue(),
            PicturePath: btePicturePath" + Model.Name + @".GetValue(),
            Mother: cmbMother" + Model.Name + @".GetValue(),
            Father: cmbFather" + Model.Name + @".GetValue()
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }

}";
                                }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
