﻿@{
    ViewBag.Title = Translator.AccountPerson;
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("GridInit", controllerName)

@section Script
{
    <script type="text/javascript">
        $(document).ready(function() {
            splMain.cpResize = { Type: 'Grid', Element: grv@(controllerName) };
        });
    </script>
}



@*@Html.Action("DetailPartial", controllerName, new AccountPersonEditModel
    {
        Name = "AccountPersonEdit1",
        IsNewRecord = false,
        SuccessMethod = @"function(jsonResult) { alert('Success 1'); }",
        CancelMethod = @"function() { alert('Cancel 1'); }",
        Id = 1
    })


    @Html.Action("DetailPartial", controllerName, new AccountPersonEditModel
    {
        Name = "AccountPersonEdit2",
        IsNewRecord = false,
        SuccessMethod = @"function(jsonResult) { alert('Success 2'); }",
        CancelMethod = @"function() { alert('Cancel 2'); }",
        Id = 1
    })*@

@*@Html.Action("GridInit", "AccountPersonAddress", new AccountPersonAddressGridModel
{
    Name = "AccountPersonAddress1",
    Data = () => IoC.Resolve<IAccountPersonAddressService>().GetEx(p => !p.IsDeleted && p.PersonId == 1)
})


@Html.Action("GridInit", "AccountPersonAddress", new AccountPersonAddressGridModel
{
    Name = "AccountPersonAddress2",
    Data = () => IoC.Resolve<IAccountPersonAddressService>().GetEx(p => !p.IsDeleted && p.PersonId == 2)
})*@
