﻿div.DivSideBySide {
    display: table;
}

    div.DivSideBySide > div {
        display: table-cell;
    }

div.Table {
    display: table;
}

    div.Table > div {
        display: table-row;
    }

        div.Table > div > div {
            display: table-cell;
        }

div.EditForm {
    display: table;
}

    div.EditForm > div {
        display: table-row;
    }

        div.EditForm > div > div:first-child {
            display: table-cell;
            text-align: right;
            vertical-align: middle;
        }

        div.EditForm > div > div:nth-child(2) {
            display: table-cell;
            padding: 3px 0px 3px 3px;
            width: 100%;
        }

            div.EditForm > div > div:nth-child(2) > div:first-child {
                display: table-cell;
                width: inherit;
            }

            div.EditForm > div > div:nth-child(2) > div:nth-child(2) {
                display: table-cell;
            }


div.EditFormToolbar > div {
    display: table;
    float: right;
}

    div.EditFormToolbar > div > div {
        display: table-cell;
        padding: 5px 0px 5px 3px;
    }


.CenterOfScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ZIndexMax {
    z-index: 999999999 !important;
}
