﻿div.EditForm > div,
div.EditForm > div > div {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
  
  
  div.EditForm > div > div:nth-child(2) > div,
  div.EditForm > div > div:nth-child(2) > div > div {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }  
  

input, select {
  direction: rtl;
}
  

  
div.EditForm {
    display: table;
    background-color: red;
}

  div.EditForm > div {
    display: table-row;
  }

  div.EditForm > div > div:first-child {
    display: table-cell;
    vertical-align: middle;
    background-color: green;
  }

  div.EditForm > div > div:nth-child(2) {
    display: table-cell;
    width: 100%;
    background-color: blue;
  }

  div.EditForm > div > div:nth-child(2) > div {
    display: table;
		width: inherit;
  }
  
  div.EditForm > div > div:nth-child(2) > div > div:first-child {
    display: table-cell;
		width: inherit;
  }

  div.EditForm > div > div:nth-child(2) > div > div:nth-child(2) {
		display: table-cell;
  }
  

