﻿@model GridTitlePanelModel

<div class="DivSideBySide">
    <div style="vertical-align: middle">
        @Html.DevExpress().Image(imgs =>
        {
            imgs.Name = "img" + Model.GridModel.Name;
            imgs.ImageUrl = Model.ImageUrl;
        }).GetHtml()
    </div>

    <div style="vertical-align: middle; padding-left: 5px">
        @Html.DevExpress().Label(lbls =>
        {
            lbls.Name = "lbl" + Model.GridModel.Name;
            lbls.Text = Model.Caption;            
            lbls.Style.Add(HtmlTextWriterStyle.FontSize, "12px");
            lbls.ControlStyle.Wrap = DefaultBoolean.False;
        }).GetHtml()
    </div>
    <div style ="width: 100%">
        @Html.Partial("MenuPartial", Model.GridModel.MenuModel)
    </div>
</div>

