﻿@model AddressEditModel

@{
    string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

@Html.Action("ActionPartial", "Popup", new ActionPopupModel
{
    Name = Model.Name + "Edit"
})

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "Edit", style = "width: 100%; height: 100%;" }))
{
    <div id="divEditTable@(Model.Name)" class="Table" style="width: 100%; height: 100%">
        <div>
            <div style="height: 0px">
                <div class="EditForm">
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.CountryId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("CountryIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCountry")
                                {
                                    ComboBoxName = "cmbCountryId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.CityId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("CityIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressCity")
                                {
                                    ComboBoxName = "cmbCityId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.DistrictId, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            <div>
                                @Html.Partial("DistrictIdPartial", Model)
                            </div>
                            <div>
                                @Html.Action("ComboBoxMenuPartial", "EditForm", new ComboBoxMenuModel("AddressDistrict")
                                {
                                    ComboBoxName = "cmbDistrictId",
                                    ModelName = Model.Name
                                })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().LabelFor(m => m.PostalCode, lbls =>
                            {
                                lbls.ControlStyle.Wrap = DefaultBoolean.False;
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().TextBoxFor(m => m.PostalCode, txbs =>
                            {
                                txbs.Name = "txb" + txbs.Name + Model.Name;
                                txbs.Width = Unit.Percentage(100);
                                txbs.ShowModelErrors = true;
                                txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                            }).GetHtml()
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DevExpress().Label(lbls =>
                                {
                                    lbls.Name = "lblLatitudeLongitude" + Model.Name;
                                    lbls.Text = Translator.Latitude + "-" + Translator.Longitude;
                                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                                }).GetHtml()
                        </div>
                        <div>
                            <div>
                                <div class="DivSideBySide" style="width: 100%">
                                    <div>
                                        @Html.DevExpress().SpinEditFor(m => m.Latitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                    </div>
                                    <div>
                                        @Html.DevExpress().SpinEditFor(m => m.Longitude, spes =>
                                            {
                                                spes.Name = "spe" + spes.Name + Model.Name;
                                                spes.Width = Unit.Percentage(100);
                                                spes.ShowModelErrors = true;
                                                spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                                                spes.ReadOnly = true;
                                            }).GetHtml()
                                    </div>
                                </div>
                            </div>
                            <div style="vertical-align: middle">
                                @Html.Action("MapMenuPartial", "EditForm", new MapMenuModel(IconSize.Png16)
                                    {
                                        SpinEditLatitudeName = "speLatitude",
                                        SpinEditLongitudeName = "speLongitude",
                                        ModelName = Model.Name,
                                        SuccessMethod = @"function(jsonResult) {
    puc" + Model.Name + @".Hide();

    ShowEditFormInPopup({
        PopupControl: puc" + Model.Name + @",
        Name: '" + Model.Name + @"',
        ControllerName: '" + controllerName + @"',
        ActionName: 'DetailPartial',
        EditModelFullName: '" + Model.GetType().FullName + @"',
        EditHeaderImageUrl: '/Content/Icon/Address/16.png',
        EditHeaderText: '" + string.Format(Translator.EditTheRecord, Translator.Address).Js() + @"',
        Width: " + Model.Width.ToString() + @",
        Height: " + Model.Height.ToString() + @",
        EditShownMethod: null,
        Id: jsonResult.Result.Id,
        SuccessMethod: " + Model.SuccessMethod + @",
        CancelMethod: " + Model.CancelMethod + @"
    });
}"
                                    })
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <div style="height: 0px">
                @Html.DevExpress().LabelFor(m => m.FullAddress, lbls =>
                {
                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                }).GetHtml()
            </div>
        </div>
        <div>
            <div id="divFullAddress@(Model.Name)" style="height: 30%">
                @Html.DevExpress().MemoFor(m => m.FullAddress, mems =>
                {
                    mems.Name = "mem" + mems.Name + Model.Name;
                    mems.Width = Unit.Percentage(100);
                    mems.Height = Unit.Percentage(100);
                    mems.ShowModelErrors = true;
                    mems.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                    mems.Style.Add("min-height", "60px");
                }).GetHtml()
            </div>
        </div>
        <div>
            <div style="height: 0px">
                @Html.DevExpress().LabelFor(m => m.FullAddressDescription, lbls =>
                {
                    lbls.ControlStyle.Wrap = DefaultBoolean.False;
                }).GetHtml()
            </div>
        </div>
        <div>
            <div id="divFullAddressDescription@(Model.Name)" style="height: 70%">
                @Html.DevExpress().MemoFor(m => m.FullAddressDescription, mems =>
                {
                    mems.Name = "mem" + mems.Name + Model.Name;
                    mems.Width = Unit.Percentage(100);
                    mems.Height = Unit.Percentage(100);
                    mems.ShowModelErrors = true;
                    mems.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                    mems.Style.Add("min-height", "60px");
                }).GetHtml()
            </div>
        </div>
        <div>
            <div style="height: 0px">
                <div class="EditFormToolbar" style="width: 100%">
                    <div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnSave" + Model.Name;
                                btns.Text = Translator.Save;
                                btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                                btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"Edit'); }, 100);

    s.cpData = function() {
        return {" + (Model.IsNewRecord ? @"
            IsNewRecord: true," : @"
            Id: " + Model.Id.ToString() + ",") + @"
            CountryId: cmbCountryId" + Model.Name + @".GetValue(),
            CityId: cmbCityId" + Model.Name + @".GetValue(),
            DistrictId: cmbDistrictId" + Model.Name + @".GetValue(),
            FullAddress: memFullAddress" + Model.Name + @".GetValue(),
            FullAddressDescription: memFullAddressDescription" + Model.Name + @".GetValue(),
            PostalCode: txbPostalCode" + Model.Name + @".GetValue(),
            Latitude: speLatitude" + Model.Name + @".GetValue(),
            Longitude: speLongitude" + Model.Name + @".GetValue(),
        };
    };

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                                btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"Edit').validate().form();
    if (formValid)
    {
        EditFormAjaxPost({
            Url: '/" + controllerName + "/" + (Model.IsNewRecord ? "Insert" : "Update") + @"',
            RestoreUrl: '/" + controllerName + @"/Restore',
            Data: JSON.stringify(s.cpData()),
            Id: " + (Model.IsNewRecord ? "null" : Model.Id.ToString()) + @",
            SuccessMethod: function(jsonResult) {
                s.cpSuccessMethod(jsonResult);
            }
        });
    }

}";
                            }).GetHtml()
                        </div>
                        <div>
                            @Html.DevExpress().Button(btns =>
                            {
                                btns.Name = "btnCancel" + Model.Name;
                                btns.Text = Translator.Cancel;
                                btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                                btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                                btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                            }).GetHtml()

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
