﻿@model MapModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" + Model.Name + "GoogleMaps", style="width: 100%; height: 100%;" }))
{
@*<div style="position: absolute; right: 0; bottom: 0;  z-index: 1000000; background-color: white">
    @Html.DevExpress().Label(lbls =>
    {
        lbls.Name = "lblTest" + Model.Name;
        lbls.Properties.ClientInstanceName = "lblTest" + Model.Name;
        lbls.EncodeHtml = false;
        lbls.Text = "Shows address components";
    }).GetHtml()
</div>*@
<div class="Table" style="width: 100%; height: 100%">
    <div>
        <div>
            <div class="Table" style="width: 100%">
                <div>
                    <div style="width: 20%">
                        @Html.DevExpress().TextBox(txbs =>
                        {
                            txbs.Name = "txbSearch" + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.SearchAddress;
                        }).GetHtml()
                    </div>
                    <div style="width: 60%">
                        @Html.DevExpress().TextBoxFor(m => m.FullAddress, txbs =>
                        {
                            txbs.Name = "txb" + txbs.Name + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.FullAddress;
                        }).GetHtml()
                    </div>
                    <div style="width: 10%">
                        @Html.DevExpress().SpinEditFor(m => m.Latitude, spes =>
                        {
                            spes.Name = "spe" + spes.Name + Model.Name;
                            spes.Width = Unit.Percentage(100);
                            spes.Properties.NullText = Translator.Latitude;
                            spes.ReadOnly = true;
                            spes.ShowModelErrors = true;
                            spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);                            
                        }).GetHtml()
                    </div>
                    <div style="width: 10%">
                        @Html.DevExpress().SpinEditFor(m => m.Longitude, spes =>
                        {
                            spes.Name = "spe" + spes.Name + Model.Name;
                            spes.Width = Unit.Percentage(100);
                            spes.Properties.NullText = Translator.Longitude;
                            spes.ReadOnly = true;
                            spes.ShowModelErrors = true;
                            spes.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);                            
                        }).GetHtml()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="height: 100%">
            <div id="divGoogleMap@(Model.Name)" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <div>
        <div>
            <div class="Table" style="width: 100%">
                <div>
                    <div style="width: 25%">
                        <input id="hdnCountryCode@(Model.Name)" type="hidden" />
                        @Html.DevExpress().TextBoxFor(m => m.CountryName, txbs =>
                        {
                            txbs.Name = "txb" + txbs.Name + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.AddressCountry;
                            //txbs.ReadOnly = true;
                            txbs.ShowModelErrors = true;
                            txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                        }).GetHtml()
                    </div>
                    <div style="width: 25%">
                        @Html.DevExpress().TextBoxFor(m => m.CityName, txbs =>
                        {
                            txbs.Name = "txb" + txbs.Name + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.AddressCity;
                            //txbs.ReadOnly = true;
                            txbs.ShowModelErrors = true;
                            txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                        }).GetHtml()
                    </div>
                    <div style="width: 40%">
                        @Html.DevExpress().TextBoxFor(m => m.DistrictName, txbs =>
                        {
                            txbs.Name = "txb" + txbs.Name + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.AddressDistrict;
                            txbs.ShowModelErrors = true;
                            txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                        }).GetHtml()
                    </div>
                    <div style="width: 10%">
                        @Html.DevExpress().TextBoxFor(m => m.PostalCode, txbs =>
                        {
                            txbs.Name = "txb" + txbs.Name + Model.Name;
                            txbs.Width = Unit.Percentage(100);
                            txbs.Properties.NullText = Translator.PostalCode;
                            txbs.ShowModelErrors = true;
                            txbs.Properties.ValidationSettings.Assign(ValidationSettingsFactory.Standard);
                        }).GetHtml()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="EditFormToolbar" style="width: 100%">
        <div>
            <div>
                @Html.DevExpress().Button(btns =>
                {
                    btns.Name = "btnSaveToAddress" + Model.Name;
                    btns.Text = Translator.SaveToAddress;
                    btns.Images.Image.Url = "~/Content/Icon/Save/16.png";

                    btns.ClientSideEvents.Init = @"function(s, e) {
    setTimeout(function(){ $.validator.unobtrusive.parse('#frm" + Model.Name + @"GoogleMaps'); }, 100);

    s.cpSuccessMethod = " + Model.SuccessMethod + @";
}";

                    btns.ClientSideEvents.Click = @"function(s, e) {
    var formValid = $('#frm" + Model.Name + @"GoogleMaps').validate().form();
    if (formValid)
    {
        var data = {
            CountryCode: document.getElementById('hdnCountryCode" + Model.Name + @"').value,
            CountryName: txbCountryName" + Model.Name + @".GetValue(),
            CityName: txbCityName" + Model.Name + @".GetValue(),
            DistrictName: txbDistrictName" + Model.Name + @".GetValue(),
            FullAddress: txbFullAddress" + Model.Name + @".GetValue(),
            PostalCode: txbPostalCode" + Model.Name + @".GetValue(),
            Latitude: speLatitude" + Model.Name + @".GetValue(),
            Longitude: speLongitude" + Model.Name + @".GetValue()
        };

        $.ajax({
            url: '/EditForm/GoogleMapsSaveToAddress',
            type: 'post',
            data: JSON.stringify(data),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (jsonResult) {
                if (jsonResult.Result != null) {
                    " + btns.Name + @".cpSuccessMethod(jsonResult);
                } else if (jsonResult.ErrorMessage != null){
                    ShowError({
                        Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />").Js() + @"' + jsonResult.ErrorMessage
                    });
                } else {
                    ShowForbidden({
                        Message: '" + Translator.YouAreNotAuthorizedToProcess.Js() + @"'
                    });
                }
            },
            error: function (xhr) {
                ShowError({
                    HeaderText: '" + Translator.UnexpectedError.Js() + @"',
                    Message: '" + (Translator.PleaseTellTheProgrammersAboutTheError + "<br />").Js() + @"' + xhr.statusText
                });
            }
        });
    }

}";
                }).GetHtml()
            </div>
            <div>
                @Html.DevExpress().Button(btns =>
                {
                    btns.Name = "btnCancel" + Model.Name;
                    btns.Text = Translator.Cancel;
                    btns.Images.Image.Url = "~/Content/Icon/Cancel/16.png";
                    btns.ClientSideEvents.Init = @"function(s, e) {
    s.cpCancelMethod = " + Model.CancelMethod + @";
}";
                    
                    btns.ClientSideEvents.Click = @"function(s, e) {
    s.cpCancelMethod();
}";
                }).GetHtml()
            </div>
        </div>
    </div>

</div>
}